.search-container {
  //width:auto!important;
  .selectize-control {
    margin-top: 5px;
    .selectize-input {
      float: left;
    }
  }
  input {
    vertical-align: top;
    margin-top: 5px;
  }
  .info {
    font-style: normal;
    font-size: 10px;
    opacity: 0.5;
  }
}