.search-container {
  .select2-container {
    vertical-align: top;
    margin-top: 5px;
  }
  select {
    vertical-align: top;
    margin-top: 5px;
  }
  input {
    vertical-align: top;
    margin-top: 5px;
  }
  .info {
    font-style: normal;
    font-size: 10px;
    opacity: 0.5;
  }
}