@import '../styleguide';

footer-column {
    float: left;
    width: 33.33%;
    padding: 0 65px 0 0;
    display: block;
    section {
        & > div {
            min-height: 23px;
            h5 {
                @extend %bodytext-large-font;
                font-weight: 600;
            }
        }
        ul {
            padding: 11px 0 36px ;
            @extend %stripped;
            li {
                @extend %bodytext-font;
                line-height: 24px;
                @extend %text-hidden;
                a {
                    color: $body-text-color;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait-width), screen and (max-device-width: $tablet-portrait-width) {
    footer-column {
        display: none;
        float: none;
        width: 100%;
        padding: 0;

        section {
            & > div {
                display: none;
            }
            ul {
                padding-bottom: 0;
                text-align: center;
                li {
                    display: inline-block;
                    padding: 0 5px;
                }
            }
        }
        &:first-child {
            display: block;
        }
    }
}

@media screen and (max-width: $phone-width), screen and (max-device-width: $phone-width) {

}

@media screen and (max-width: $small-phone-width), screen and (max-device-width: $small-phone-width) {

}