@import '../styleguide';

footer-column{
  float:left;
  width: 33.33%;
  padding: 0 65px 0 0;
  section{
    & > div {
      min-height: 23px;
      h5{
        @extend %bodytext-large-font;
        font-weight: 600;
      }
    }
    ul{
      padding: 11px 0 36px;
      @extend %stripped;
      li{
        @extend %bodytext-font;
        line-height: 24px;
        @extend %text-hidden;
        a {
          color: $bodyTextColor;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    &.emphasis{
      ul li {
        font-weight: 600;
      }
    }
  }
}