@import '../styleguide';

page {
  @extend %anime;
  transition-delay: 0.4s;
  transition-duration: 0.4s;
  display: block;
  background: $white;
  position: relative;
  z-index: 2;
  opacity:0;
}
page[resolved] {
  opacity:1;
}