@import '../styleguide';

page {
  @extend %anime;
  transition-duration: 0.3s;
  display: block;
  position: relative;
  z-index: 2;
  opacity:0;
  &[color="semilight"]{
    background: $grey-color-20;
  }
  &[color="light"]{
    background: $white;
  }
}
page[resolved] {
  opacity:1;
}