@import '../styleguide';

[divided] {
    display: block;
    .half {
        float: left;
        width: 50%;
        border-right: 1px solid $grey-color-60;
        padding: 7px 40px 7px 0;
        ~ .half {
            padding: 7px 0 7px 40px;
            border-right: 0;
        }
    }
}

@media screen and (max-width: $phone-width), screen and (max-device-width: $phone-width) {
    [divided] {
        clear: both;
        .half {
            float: none;
            clear: both;
            border:none;
            display: block;
            width: 100%;
            padding: 7px 0 7px 0;
            ~ .half {
                padding: 7px 0 7px 0;
            }
        }
    }
}