@import '../styleguide';

survey-question {
  display: block;
  background: $grey-color-60;
  @extend %small-radius;
  margin: 0 0 20px 0;
  padding: 15px 20px 20px ;
  h5{
    @extend %bodytext-large-font;
    padding: 0 0 11px 0;
    strong{
      font-weight: 400;
    }
  }
  &[yesandno]{
    action-button {
      margin: 0 5px 0 0;
    }
  }
}