{% load url from future %}
{% load restful %}
<form
        data-uid="{{ uid }}"
        data-avatar="{{ avatar }}"
        action="{% url 'user:signup-checkpoint' %}"
        method="post"
        >
    {% csrf_token %}
    <button type="submit"
            class="button standard green"><b>Изпрати</b>
    </button>
    <div class="animation-container">
        <div>
            <strong>{{ details.first_name }} {{ details.last_name }}</strong>
            <em>{{ details.email }}</em>
            <a href="#" class="change">промени</a>
        </div>
        <div class="hidden inputs">
            <input type="text" name="fullname"
                   class="form-control round"
                   placeholder="Име"
                   value="{{ details.first_name }} {{ details.last_name }}"
                   data-rule-required="true"
                    >
            <span class="err name"></span>
            <input type="text" name="email"
                   class="form-control round"
                   placeholder="Email адрес"
                   value="{{ details.email }}"
                   data-rule-required="true"
                   data-rule-email="true"
                    >
            <span class="err email"></span>
        </div>
    </div>
</form>
