@import '../styleguide';

bubble {
    position: relative;
    z-index: 0;
    display: table;
    width: 100%;
    min-height: 70px;
    background: $white;
    box-shadow: 0 3px 10px 0 rgba(0,0,0, 0.5);
    color: $body-text-color;
    @extend %small-radius;
    .close{
        width: 13px;
        height: 13px;
        display: block;
        @extend %circle;
        position: absolute;
        right: 5px;
        top: 5px;
            svg{
                fill: $body-text-color;
                width: 100%;
                height: 100%;
            }
        &:hover svg{
            fill: lighten($body-text-color, 34%);
        }
    }
    section {
        display: table-cell;
        vertical-align: middle;
        @extend %bodytext-font;
        line-height: 20px;
        padding: 12px 20px 12px 70px;
    }
    .icon{
        width: 35px;
        height: 35px;
        @extend %center-y;
        left: 20px;
        svg{
            fill: $body-text-color;
            width: 100%;
            height: 100%;
        }
    }
    &[no-icon]{
        section{
            padding: 15px 20px;
        }
        .icon{
            display: none;
        }
    }
    &[no-shadow]{
        box-shadow: none;
    }
     //properties for type of bubble (type of icon)
    &[type="information"]{
        .icon svg{
            fill: $body-text-color;
        }
    }
    &[type="success"]{
        .icon svg{
            fill: $success-color;
        }
    }
    &[type="error"]{
        .icon svg{
            fill: $error-color;
        };
    }
    //properties for background and icon-fill color change
    &[color="white"]{
        background: $white;
        color: $body-text-color;
    }
    &[color="red"]{
        background: $error-color;
        color: $white;
        .icon svg, svg {
            fill: $white;
        }
    }
    &[color="green"]{
        background: $success-color;
        color: $white;
        .icon svg, svg{
            fill: $white;
        }
    }
    //properties for size(width)
    &[size="standart"]{
        width: 300px;
    }
    &[size="half"]{
        width: 50%;
    }
    &[size="full"]{
        width: 100%;
    }
    //properties for box-model top, bottom
    &[density="airy"]{
        margin: 40px 0
    }
    &[density="comfortable"]{
        margin: 30px 0
    }
    &[density="cozy"]{
        margin: 20px 0
    }
    &[density="compact"]{
        margin: 10px 0;
    }
}

//<bubble size="standart" color="white" type="information" density="compact" >