@import '../styleguide';

star {
  display: inline-block;
  $size: 15px;
  width: $size + ($size/5);
  height: $size;
  padding: 0 $size/5 0 0;
  &:last-of-type{
    padding: 0;
  }
  svg {
    width: 100%;
    height: 100%;
  }

    &[type="full"] {
      .full {
        fill: $rating-color
      }
      .half, .outline {
        fill: transparent;
      }
    }
    &[type="half"] {
      .half, .outline {
        fill: $rating-color;
      }
      .full {
        fill: transparent;
      }
    }
    &[type="empty"] {
      .half, .full {
        fill: transparent;
      }
      .outline {
        fill: $rating-color;
      }
    }
    &.hover {
      .full {
        fill: pink
      }
      .half, .outline {
        fill: transparent;
      }
    }
  [survey] & {
    width: 19px;
    height: 18px;
    &.type-empty {
      .outline {
        fill: $grey-color-100;
      }
    }
  }
}
