@import '../styleguide';

star {
  display: inline-block;
  $size: 15px;
  width: $size + ($size/5);
  height: $size;
  padding: 0 $size/5 0 0;
  svg {
    width: 100%;
    height: 100%;
  }

  &[type="full"] {
    .full {
      fill: $rating-color
    }
    .half, .outline {
      fill: transparent;
    }
  }
  &[type="half"] {
    .half, .outline {
      fill: $rating-color;
    }
    .full {
      fill: transparent;
    }
  }
  &[type="empty"] {
    .half, .full {
      fill: transparent;
    }
    .outline {
      fill: $rating-color;
    }
  }
  &.hover {
    .full {
      fill: pink
    }
    .half, .outline {
      fill: transparent;
    }
  }
  [size="medium"] & {
    $size: 18px;
    width: $size + 5px;
    height: $size;
    padding: 0 5px 0 0;
    &[type="empty"] {
      .outline {
        fill: $grey-color-100;
      }
    }
  }
}
