@import '../styleguide';
$yellow: #c8a815;
$green: #8aad39;
$blue: #3a8eb3;
$purple: #8484a6;
$red: #d76d6d;

intro {
  display: block;
  padding: 40px 0;
  & > .clearfix {
    position: relative;
  }
  &[density="airy"]{
    padding: 40px 0;
    position: relative;
  }
  &[density="comfortable"]{
    position: absolute;
    bottom: 0px;
  }
}
