@import '../styleguide';

intro {
  display: block;
  padding: 40px 0;
  & > .clearfix {
    position: relative;
  }
  &[density="airy"]{
    padding: 40px 0;
    position: relative;
  }
  &[density="comfortable"]{
    position: absolute;
    bottom: 0px;
  }
}

