@import '../styleguide';

menu-column {
    display: block;
    width: 33.33%;
    float: left;
    padding: 5px 30px;
    h2 {
        @extend %bodytext-large-font;
        font-weight: 600;
        color: $body-text-color;
        padding: 0 0 7px;
    }
    ul {
        @extend %stripped;
        li {
            @extend %bodytext-font;
            line-height: 24px;
            a {
                line-height: 20px;
                color: $secondary-color-100;
                display: inline-block;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 764px), screen and (max-device-width: 764px) {
    menu-column {
        width: 50%;
    }
}

@media screen and (max-width: 640px), screen and (max-device-width: 640px) {
    menu-column {
        width: 100%;
        ul li a{
            margin: 1px 0;
            padding: 5px 0;
        }
    }
}