@import '../styleguide';

menu-column {
  display: block;
  width: 50%;
  float: left;
  padding: 25px 30px 3px 30px;
  h2 {
    @extend %bodytext-large-font ;
    font-weight: 600;
    color: $body-text-color;
    padding: 0 0 7px;
  }
  ul{
    @extend %stripped;
    li{
      @extend %bodytext-font;
      line-height: 24px;
      a {
        color: $secondary-color-100;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}