@import '../styleguide';
$page-padding: 50px;

story {
    @extend %wrapper;
    display: block;
    padding-bottom: $page-padding;
        & > section{
            max-width: 100%;
            line-height: 0;
            img{
                margin: $page-padding 0 0 0;
                width: 100%;
            }
        }
    & > article{
        max-width: 75%;
        h1{
            @extend %headilme-font;
            padding: 20px 0;
        }
        h2{
            @extend %headilme-font;
            font-size: 26px;
            line-height: 32px;
            padding: 15px 0;
        }
        h3{
            @extend %bodytext-large-font;
            padding: 8px 0;
            font-weight: 600;
        }
        p, ul{
            @extend %bodytext-large-font;
            margin: 0 0 23px 0;
        }

    }
}