@import '../styleguide';

listing-search {
  display: block;
  position: relative;
  background: $grey-color-60;
  padding: 25px 0;
  border-bottom: 1px solid $grey-color-80;
  & > section{
    @extend %wrapper;
  }
  .actions{
    text-align: center;
  }
}