@import '../styleguide';
@import '../../node_modules/selectize/dist/css/selectize.css';

select-dropdown {
    margin: 0 0 17px;
    display: block;
    position: relative;
    $padding-vertical: 9px;
    $padding-vertical-main-search: 15px;
    $padding-horizontal: 7px;
    $padding-horizontal-main-search: 20px;
    $arrow-color: $body-text-color;
    $remove-button-active-background: darken($secondary-color, 10%);
    $remove-icon-size: 11px;
    $remove-icon-color: $body-text-color;
    $remove-icon-active-color: $white;
    $arrow-width: 12px;
    $arrow-height: 7px;
    $text-color: $body-text-color;
    $search-match-highlight-background: $secondary-color;
    $search-match-highlight-color: $white;
    $dropdown-selected-option-background: #101240;
    $create-new-color: $grey-color-80;
    $tag-padding-vertical: 3px;
    $tag-padding-horizontal: 6px;
    $tag-margin-vertical: 4px;
    $tag-margin-horizontal: 3px;
    $tag-border-width: 0;
    $tag-color: $body-text-color;
    $tag-background: linear-gradient(to bottom, $grey-color-60 0%, $grey-color-80 100%);
    $tag-selected-color: $white;
    $tag-selected-background: $secondary-color;
    $focus-background: #fefbec;
    &[density="compact"] {
        margin: 0;
    }
    &[density="micro"] {
        margin: 0;
        $padding-vertical-small: 5px;
        $padding-horizontal-small: 4px;
        .selectize-control.single .selectize-input {
            padding: $padding-vertical-small $padding-horizontal-small;
        }
        .selectize-dropdown [data-selectable] {
            padding: $padding-vertical-small $padding-horizontal-small;
        }
        .selectize-dropdown, .selectize-input,
        .selectize-input input {
            @extend %small-font ;
        }
    }
    select {
        display: none;
    }
    .selectize-dropdown-content {
        position: relative;
    }
    .selectize-control.plugin-remove_button {
        [data-value] {
            position: relative;
            padding-right: 19px !important;
        }
        [data-value] .remove {
            top: 0;
            right: 0;
            bottom: 0;
            width: 17px;
            display: inline-block;
            padding: $padding-vertical - ($remove-icon-size/2)*0.9 0 0 0;
            border-left: none;
            svg {
                fill: $remove-icon-color;
                width: $remove-icon-size;
                height: $remove-icon-size;
            }
        }
        [data-value] .remove:hover {
            background: rgba(0, 0, 0, 0.09);
        }
        [data-value].active .remove {
            @extend %small-radius;
            //      background: $remove-button-active-background;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            svg {
                fill: $remove-icon-active-color;
            }
        }
        .disabled [data-value] .remove:hover {
            background: none;
        }
        .disabled [data-value] .remove {
            border-left: none;
        }
    }

    .selectize-input {
        box-shadow: none;
        border: $standard-border;
        padding: $padding-vertical $padding-horizontal;
        background: linear-gradient(to bottom, $white 0%, $grey-color-60 100%);
        &.focus {
            box-shadow: none;
            border-color: $grey-color-100;
            z-index: 11;

        }
        &.dropdown-active {
            @extend %small-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-color: $grey-color-60;
            &:before {
                display: none;
            }
        }

        &.input-active {
            background: linear-gradient(to bottom, lighten($grey-color-60, 2%) 0%, $white 100%);
        }
        input {
            &::placeholder {@include placeholder}
        }

    }
    &[placeholder-type="vivid"] .selectize-input {
        @mixin vivid-placeholder {
            font-style: normal;
            color: $body-text-color
        }
        input {
            &::placeholder {@include vivid-placeholder}
        }
        &.focus input {
            &::placeholder {@include placeholder}
        }
    }
    .selectize-dropdown, .selectize-input,
    .selectize-input input {
        @extend %bodytext-font;
        color: $text-color;
    }
    .selectize-control.multi {
        .selectize-input {
            &.has-items {
                $padding-top: $padding-vertical - $tag-padding-vertical - $tag-border-width;
                $padding-bottom: $padding-vertical - $tag-padding-vertical - $tag-margin-vertical - $tag-border-width;
                padding: $padding-top $padding-horizontal $padding-bottom;
            }
            > div {
                @extend %small-radius;
                cursor: pointer;
                margin: 0 $tag-margin-horizontal $tag-margin-vertical 0;
                padding: $tag-padding-vertical $tag-padding-horizontal;
                background: $tag-background;
                color: $tag-color;
                border: none;
                &.active {
                    background: $tag-selected-background;
                    color: $tag-selected-color;
                    border: none;
                }
            }
        }
    }
    .selectize-control.single {
        .selectize-input {
            .item{
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 85%;
                overflow: hidden;
            }
            & > * {
                vertical-align: top;
            }
            &:after {
                margin-top: round(-1 * $arrow-height / 2);
                height: 0;
                border-width: $arrow-height $arrow-width/2 0 $arrow-width/2;
                border-color: $arrow-color transparent transparent transparent;
            }
            &.dropdown-active:after {
                margin-top: $arrow-height * -0.8;
                border-width: 0 $arrow-width/2 $arrow-height $arrow-width/2;
                border-color: transparent transparent $arrow-color
            }
            &.input-active {
                background: linear-gradient(to bottom, lighten($grey-color-60, 2%) 0%, $white 100%)
            }
        }
    }
    .selectize-dropdown {
        @extend %small-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background: $white;
        border-color: $grey-color;
        max-width: 100%;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        [data-selectable] {
            padding: $padding-vertical $padding-horizontal;
            border-bottom: 1px solid $grey-color-60;
            .highlight {
                background: $search-match-highlight-background;
                color: $search-match-highlight-color;
            }
            &:last-child {
                @extend %small-radius;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom: none;
            }
            & > .suffix {
                padding: 0 0 0 10px;
                color: $grey-color-80;
                font-size: 12px;
            }
            &.current {
                font-weight: bold;
                cursor: default;
            }
        }
        .optgroup-header {
            padding: ($padding-vertical - $tag-padding-horizontal) $padding-horizontal;
            color: $grey-color-120;
            background: lighten($grey-color-60, 2.5%);
            border-bottom: 1px solid lighten($grey-color-80, 4%);
        }
        .active {
            background-color: $dropdown-selected-option-background;
            color: $white;
            &.create {
                color: $create-new-color;
            }
        }
    }

    & > label {
        display: block;
        @extend %label-font;
        color: $grey-color-120;
        padding: 0 0 5px;
        text-transform: uppercase;
    }
    &[theme="light"] > label {
        color: $grey-color-100;
    }

    &[size="full"] {
        width: 100%;
    }

    &[size="half"] {
        width: 50%;
    }

    &[size="one-third"] {
        width: 33.33%;
        float: left;
        padding: 0 0 0 20px;
        &:first-of-type {
            padding: 0;
        }
    }

    &[size="standart"] {
        max-width: 380px;
    }
    &[size="small"] {
        width: 240px;
    }
    &[location] {
        .selectize-control.single {
            .selectize-input {
                &:after {
                    margin-top: round(-1 * $arrow-height / 2);
                    border: none;
                }
                svg {
                    @include anime(transform);
                    position: absolute;
                    top: 50%;
                    margin-top: -8px;
                    width: 16px;
                    height: 16px;
                    right: 8px;
                    fill: $grey-color-80;
                }
                &.dropdown-active svg {
                    fill: $secondary-color;
                    transform: rotate(180deg);
                }
            }
        }
        .icon {
            display: none;
        }
    }
    &[mainsearch] {
        float: left;
        &[priority="low"] {
            width: 24%;
            .selectize-input {
                background: $white;
                border-radius: 5px 0 0 5px;
                z-index: 10;
                &.input-active {
                    background: $focus-background;
                }
                &.dropdown-active.focus {
                    border-radius: 5px 0 0 0;
                    z-index: 12;
                    background: $focus-background;
                }
            }
        }
        &[priority="medium"], &[priority="high"] {
            width: 68%;
            padding: 0 2% 0 0;
            margin: 0 0 17px -1px;
            .selectize-input {
                background: $white;
                border-radius: 0 5px 5px 0;
                z-index: 9;
                &.focus {
                    z-index: 11;
                    border-radius: 0 5px 0 0;
                    background: $focus-background;
                }
            }
        }
        &[priority="high"] {
            width: 76%;
            padding: 0;
        }
        .selectize-dropdown {
            border: none;
            &.multi {
                [data-selectable]:last-child {
                    border-radius: 0;
                }
            }
            [data-selectable] {
                padding: $padding-vertical-main-search/4 ($padding-horizontal-main-search)-1px;
            }
        }
        .selectize-input {
            padding: $padding-vertical-main-search+4px $padding-horizontal-main-search;
        }
        .selectize-control.multi {
            .selectize-input.has-items {
                padding: $arrow-width+4px ($padding-horizontal*2)-1px $arrow-height+5px;
            }
        }
    }
    .filters {
        background: $grey-color-60;
        border-radius: 0 0 5px 5px;
        padding: 10px 0 0;
        p {
            padding: 0 $padding-horizontal-main-search;
            color: $grey-color-100;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 12px;
        }
        section {
            padding: 1px $padding-horizontal-main-search 4px;
        }
    }
    .selectize-input {
        display: block !important;
    }
    &.error .selectize-input,
    &[state="error"] .selectize-input {
        border-color: $secondary-color-100;
        background: $secondary-color-10;
        &.focus {
            border-color: $grey-color-100;
            background: $white;
        }
    }
    &.success .selectize-input,
    &[state="success"] .selectize-input {
        border-color: $success-color;
        background: lighten($success-color, 45%);
        &.focus {
            border-color: $grey-color-100;
            background: $white;
        }
    }
}

@media screen and (max-width: $desktop-width), screen and (max-device-width: $desktop-width) {
    select-dropdown {
        &[mainsearch] {
            &[priority="medium"] {
                width: 67%;
            }
        }
    }
}

@media screen and (max-width: $small-desktop-width), screen and (max-device-width: $small-desktop-width) {
    select-dropdown {
        &[mainsearch] {
            &[priority="low"] {
                width: 32%;
            }
            &[priority="medium"] {
                width: 57%;
            }
            &[priority="high"] {
                width: 68%;
            }
        }
    }
}

@media screen and (max-width: $tablet-landscape-width), screen and (max-device-width: $tablet-landscape-width) {
    select-dropdown {
        &[mainsearch] {
            &[priority="low"] {
                width: 36%;
            }
            &[priority="medium"] {
                width: 50%;
            }
            &[priority="high"] {
                width: 64%;
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait-width), screen and (max-device-width: $tablet-portrait-width) {
    select-dropdown {
        &[mainsearch] {
            &[priority="low"] {
                width: 100%;
                float: none;
                .selectize-input {
                    border-radius: 5px;
                    &.dropdown-active.focus {
                        border-radius: 5px 5px 0 0;
                    }
                }
            }
            &[priority="medium"], &[priority="high"] {
                margin-right: 0;
                padding: 0;
                width: 100%;
                float: none;
                .selectize-input {
                    border-radius: 5px;
                    &.focus {
                        border-radius: 5px 5px 0 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $phone-width), screen and (max-device-width: $phone-width) {
    select-dropdown {
        &[mainsearch] > label {
            display: none;
        }
    }
}