@import '../styleguide';

social-button{
  display: block;
  width: 100%;
  position: relative;
  padding: 10px 0 0;
    a{
      display: block;
      height: 40px;
      @extend %small-radius;
      position: relative;
      .icon{
        display: block;
        height: 100%;
        svg{
          fill: $white;
          height: auto;
        }
      }
      .arrow{
        @extend %center-y;
        right: 10px;
        width: 14px;
        height: 6px;
        svg{
          width: 100%;
          height: 100%;
          position: absolute;
          fill: $white;
        }
      }
    }
  &[facebook] {
    a{
      background: #3b5998;
      .icon{
        padding: 10px;
      }
    }
  }
  &[google] {
    a{
      background: #dd4b39;
      .icon{
        padding: 10px 10px 5px;
//        hack for double svgs
//        svg:last-child{ display: none;}
      }
    }
  }
}
