{% load form %}
{% load utils %}
{% for category in categories %}
<value
        {% if form.categories|has_selected:category %} selected {% endif %}
        id="{{ category.site_wide_pk }}"
        suffix="({{ category.parent.title }})"
        group="Категории:"
        site-wide-id="{{ category.site_wide_pk }}"
        input="{{form.categories.html_name}}">{{ category.title }}</value>
{% endfor %}
{% for keyword in keywords %}
<value
        {% if form.keywords|has_selected:keyword %} selected {% endif %}
        id="{{ keyword.pk }}"
        group="Теми:"
        site-wide-id="{{ keyword.site_wide_pk }}"
        input="{{form.keywords.html_name}}">{{ keyword.title }}</value>
{% endfor %}
