{% load utils %}
<select-dropdown id="drop" multiple mainsearch>
    <label>проблем</label>
    {% for choice in choices %}
    <value id="{{ choice.pk }}" input="{{ choice|fieldname:form  }}">{{ choice.title }}</value>
    {% endfor %}
    <div class="filters">
        <p>Доп. опции</p>
        <section>
            <checkbox id="register" name="register">Регистрация</checkbox>
            <checkbox id="asdasd" name="asdasdasd" checked>asdasdasd</checkbox>
        </section>
    </div>
</select-dropdown>