@import '../styleguide';
.checkbox input[type=checkbox]:not(old) {
  width   : 16px;
  margin  : 0;
  padding : 0;
  opacity : 0;
  & + label:before {
    @extend %nano-radius;
    content: "";
    display: inline-block;
    width: 16px;
    vertical-align: middle;
    height : 16px;
    background   : red;
    line-height  : 16px;
    border: 1px solid $greyColor80;
  }
  &:checked + label:before {
    background : green;
  }
  &:focus + label:before {
    border-color: $greyColor;
  }
  &:active + label:before {
    border-color: $secondaryColor;
  }
}