@import '../styleguide';

donation {
    background: $main-color-100 url('./background.png') no-repeat center center;
    display: block;
    div {
        @extend %wrapper;
        text-align: center;
        padding: 62px 0;
        p {
            @extend %bodytext-large-font;
            color: $white;
            margin: 0 0 20px 0;
        }
    }
}