@import '../styleguide';

$secondary-hover-color: #DC3957;
login-box {
    float: left;
    padding: 0 0 0 15px;
    display: block;
    .menu-trigger {
        width: 30px;
        height: 30px;
        padding: 3px 6px;
        display: none;
        svg {
            width: 100%;
            height: 100%;
            fill: $white;
        }
    }
    &[anonymous] {
        padding: 0 0 0 25px;
        .anonymous {
            a {
                @extend %bodytext-large-font;
                color: $white;
                font-weight: 600;
                line-height: 30px;
                &:hover {
                    color: $secondary-hover-color;
                    svg{
                        fill: $secondary-hover-color;
                    }
                }
            }
        }
    }
    .loggedin {
        @extend %nano-radius;
        .profile a {
            padding: 5px 10px;
            color: $body-text-color;
            display: block;
            span {
                background: $grey-color-80;
                @extend %nano-radius;
                $size: 20px;
                height: $size;
                width: $size;
                float: left;
                margin: 0 $size - 1 0 0;
                position: relative;
                &:after {
                    content: '';
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid $white;
                    display: block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 8px;
                    right: -13px;
                }
                img {
                    @extend %nano-radius;
                    max-width: 100%;
                    width: $size;
                    height: $size;
                    float: left;
                }
            }
            strong {
                @extend %main-font;
                line-height: 21px;
                font-size: 12px;
                font-weight: 400;
                float: right;
                color: $white;
            }
        }
        ul {
            display: none;
            @extend %bodytext-font, %stripped;
            line-height: 24px;
            padding: 3px 10px 6px 10px;
            position: relative;
            border-top: 1px solid $grey-color-60;
            li a {
                color: $secondary-color-100;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &:hover {
            background: $white;
            position: absolute;
            a {
                span:after {
                    border-top-color: $body-text-color;
                }
                strong {
                    color: $body-text-color;
                }
            }
            ul {
                display: block;
            }
        }
    }

}

@media screen and (max-width: $tablet-portrait-width), screen and (max-device-width: $tablet-portrait-width) {
    login-box {
        float: right;
        .loggedin {
            position: absolute;
            .profile a {
                display: block;
                position: absolute;
                min-width: 55px;
                padding: 5px 5px 5px 10px;
                top:0;
                right: 0;
                border-radius: $nano-radius $nano-radius 0 0;
                span {
                    float: none;
                    position: relative;
                    &:after{
                        right: -18px;
                        top: 5px;
                    }
                }
                strong {
                    display: none;
                }
            }
            ul {
                margin-top: 30px;
                border-radius: $nano-radius 0 $nano-radius $nano-radius;
            }
            &:hover, &:hover, &:focus {
                background: transparent;

                a[settings-trigger] {
                    background: $white;
                    cursor: default;
                }
                ul {
                    background: $white;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}
@media screen and (max-width: $phone-width), screen and (max-device-width: $phone-width) {
    login-box {
        &[anonymous] {
            a{
                .menu-trigger {
                    display: block;
                }
                & > span {
                    display: none;
                }
            }
        }
    }
}