%main-font { font-family:"Open Sans", sans-serif }
%secondary-font { font-family: 'Roboto', sans-serif; }

%headilme-font {
  @extend %main-font;
  font-weight: 600;
  font-size: 38px;
  line-height: 55px;
}

%bodytext-font {
  @extend %main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

%bodytext-large-font {
  @extend %bodytext-font;
  font-size: 16px;
  line-height: 23px;
}

%mainnavigation-font {
  @extend %bodytext-large-font;
  font-weight: 600;
}

%popup-font {
  @extend %main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

%label-font {
  @extend %popup-font;
  text-transform: uppercase;
}

%button-font{
  @extend %bodytext-font;
  font-weight: 600;
  text-transform: uppercase;
}
/*Colors*/
$white: #fff;

$mainColor100: #101340;
$mainColor80: #414167;
$mainColor60: #6f708c;
$mainColor40: #9e9fb3;
$mainColor20: #d0d0da;

$mainColor: $mainColor100;

$secondaryColor100: #f22e52;
$secondaryColor80: #f65775;
$secondaryColor60: #f78295;
$secondaryColor40: #f9abb9;
$secondaryColor20: #fcd4dc;

$secondaryColor: $secondaryColor100;

$bodyTextColor: #1c1526;
$greyColor100: #a4a6a5;
$greyColor80: #d9d9d9;
$greyColor60: #f2f2f2;
$greyColor: $greyColor100;

$successColor: #9ad22e;
$successContrastColor: $white;

$successColor: #9ad22e;
$successContrastColor: $white;

$errorColor: $secondaryColor100;
$errorsContrastColor: $white;

$infoColor: $white;
$errorsContrastColor: $bodyTextColor;

@mixin reset-link {
  text-decoration: none;
}

/* abstract classes*/
/*shapes*/
%circle { border-radius: 50%;}
%large-radius { border-radius: 19px;}
%small-radius { border-radius: 5px;}
%nano-radius { border-radius: 2px;}

/*shadows*/
@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

// generic transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
