@import 'styleguide';
html {
  @extend %bodytext-font;
  color: $body-text-color;
}
* {
  box-sizing:border-box;
  -moz-box-sizing:border-box
}
a {
  text-decoration: none;
  @extend %anime;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}