@import 'styleguide';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700&subset=latin,cyrillic-ext,cyrillic,latin-ext");
html {
  @extend %bodytext-font;
}
*{
  box-sizing:border-box;
  -moz-box-sizing:border-box
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}