<notification information size="popup" density="airy" for="form">
    <strong>Оценката ти очаква модерация</strong>
    <p>Когато оцениш място повече от веднъж, е нужно администратор да провери оценката ти.</p>
    <p>Идеята зад това е да се предпази Signali.bg от <a href="https://bg.wikipedia.org/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82_%D1%82%D1%80%D0%BE%D0%BB"><em>интернет „тролове“</em></a>.</p>
    <p>Ако има проблем, пиши на <a href="mailto:info@signali.bg">info@signali.bg</a></p>
{#    <p>Ще получиш имейл, когато оценката ти е одобрена.</p>#}
</notification>
