@import '../styleguide';

features-item {
    $icon-size: 18px;
    display: block;
    float:left;
    position: relative;
    width: 33.33%;
    min-height: 20px;
    line-height: 20px;
    padding: 0 20px 0 0;
    margin: 10px 0;
    .icon {
        width: $icon-size;
        height: $icon-size;
        display: block;
        position: absolute;
        svg {
            width: 100%;
            height: 100%;
            fill: $body-text-color;
        }
    }
    a {
        font-size: 16px;
        color: $body-text-color;
        padding: 0 0 0 25px;
        display: block;
    }
    &[type="check"] {
        svg {
            fill: $main-color-80;
        }
    }
    &[type="none"] {
        svg {
            fill: $grey-color-100;
        }
    }
    &[type="question"] {
        svg {
            fill: $secondary-color-80;
        }
    }
    &[size="small"]{
        margin: 7px 0;
        .icon {
            width: $icon-size - 3;
            height: $icon-size - 3;
        }
        a{
            font-size: 14px;
        }
    }
}

@media screen and (max-width: $tablet-portrait-width), screen and (max-device-width: $tablet-portrait-width) {
    features-item {
        width: 100%;
    }
}