@import '../styleguide';

call-to-action {
    color: $white;
    display: block;
    font-size: 10px;
    & > div {
        &.align-center {
            text-align: center;
        }
        &.align-left {
            text-align: left;
        }
        &.align-right {
            text-align: right;
        }
        h1 {
            @extend %headilme-font;
            padding: em(4, 38) 0 em(15, 38) 0
        }
        p {
            @extend %bodytext-large-font;
        }
    }
    &[density="airy"] {
        position: relative;
        padding: em(40) 0 em(57) 0;
    }
    &[density="comfortable"] {
        position: relative;
        padding: em(40) 0 em(77) 0;
    }
    &[density="cozy"] {
        position: relative;
        padding: em(40) 0 em(77) 0;
    }
    &[density="compact"] {
        position: relative;
        padding: 0;
    }
}

@media screen and (max-width: $desktop-width), screen and (max-device-width: $desktop-width) {
    call-to-action {
        font-size: 9.5px;
    }
}

@media screen and (max-width: $small-desktop-width), screen and (max-device-width: $small-desktop-width) {
    call-to-action  {
        font-size: 9px;

    }
}

@media screen and (max-width: $tablet-landscape-width), screen and (max-device-width: $tablet-landscape-width) {
    call-to-action  {
        font-size: 8px;
        & > div  h1 {
            font-size: em(28, 8);
        }
    }
}

@media screen and (max-width: $tablet-portrait-width), screen and (max-device-width: $tablet-portrait-width) {
    call-to-action  {
        font-size: 7px;
        & > div h1 {
            font-size: em(28, 7);
        }

    }
}

@media screen and (max-width: $phone-width), screen and (max-device-width: $phone-width) {
    call-to-action  {
        font-size: 6px;
        & > div h1 {
            font-size: em(28, 6);
        }

    }
}