@import '../styleguide';
call-to-action {
  color: $white;
  display: block;
  & > div {
    &.align-center {
      text-align: center;
    }
    &.align-left {
      text-align: left;
    }
    &.align-right {
      text-align: right;
    }
    h1 {
      @extend %headilme-font;
      padding: 0 0 11px;
    }
    p {
      @extend %bodytext-large-font;
    }
  }
  &[density="airy"]{
    position: relative;
    padding: 40px 0 57px;
  }
  &[density="comfortable"]{
    position: relative;
    padding: 40px 0 77px;
  }
  &[density="cozy"]{
    position: relative;
    padding: 40px 0 77px;
  }
  &[density="compact"]{
    position: relative;
    padding: 0;
  }
}
