@import '../styleguide';

/*How To Use*/
/*Colors: light, dark */
/*Size: large - 180px , medium - 160px, small - 100 */
/*Align: center, left, righr */

logo {
  a {
    display: block;
    &.align-center-xy {
      @extend %center-xy;
    }
    &.align-center-x{
      @extend %center-x;
    }
    &.align-center-y{
      @extend %center-y;
    }
    &.align-right{
      position: relative;
    }
    &.large {
      width: 180px;
      height: 22px;
    }
    &.medium{
      width: 160px;
      height: 20px;
    }
    &.small{
      width: 100px;
      height: 12px;
    }
    &.light svg{
      .circle {
        fill: $secondaryColor100;
      }
      .path {
        fill: $white;
      }
    }
    &.dark {
      .circle {
        fill: $secondaryColor100;
      }
      .path {
        fill: $mainColor100;
      }
    }
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

}
