@import '../styleguide';

$size: 12px;
$standart-padding: 5px;

filters {
    display: block;
    position: relative;
    padding: 0 0 25px;
    clear: both;
    & > div {
        display: block;
        height: $size;
        line-height: $size;
        font-size: $size;
        color: $grey-color-120;
        position: relative;
        font-weight: 400;
        text-transform: uppercase;
        overflow: hidden;
        margin: 0 0 $standart-padding 0;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: $grey-color-80;
            position: absolute;
            top: 48%;
        }
        & > strong, em {
            font-weight: 400;
            position: relative;
            z-index: 1;
            padding: 0 $standart-padding 0 0;
            font-style: normal;
        }
        em {
            display: none;
        }
        .switch-icons {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0 0 0 $standart-padding;
            width: $size + $standart-padding;
            height: $size;
            & > div {
                display: none;
                @extend %small-radius;
                cursor: pointer;
                position: absolute;
                height: $size;
                width: $size;
                top: 0;
                right: 0;
                &.up {
                    display: block;
                }
                svg {
                    width: 100%;
                    height: 100%;
                    fill: $grey-color-100;
                }
            }
        }
    }
    &[expandable] {
        [content] {
            height: 30px;
            overflow-y: hidden;
            max-width: 1000px;
        }
        & > div {
            cursor: pointer;
            float: right;
            padding: 0 $standart-padding*3 0 0;
            width: 180px;
            em, strong {
                float: right;
            }
            &:before {
                display: none;
            }
            .switch-icons {
            }
            &:hover {
                svg {
                    fill: $secondary-color-100;
                }
            }
        }
    }
    &[collapsed] {
        [content] {
            height: auto;
        }
        .switch-icons > div.down {
            display: block;
        }
        .switch-icons > div.up {
            display: none;
        }
        & > div {
            strong {
                display: none;
            }
            em {
                display: block;
            }
        }
    }
    &[color="white"] > div {
        & > strong, .switch-icons {
            background: $white;
        }
    }
    &[color="light-gray"] div {
        & > strong, .switch-icons {
            background: $grey-color-60;
        }
    }
    &[theme="light"] {
        color: #fff;
        div {
            text-transform: none;
            color: #fff;
            & > strong, .switch-icons {
                background: transparent;
                svg {
                    fill: #fff;
                }
            }
            &:hover{
                color: $secondary-color-hover;
                svg{
                    fill: $secondary-color-hover;
                }
            }
        }
    }
}