@import '../styleguide';

auth {
  display: block;
  .half {
    float:left;
    width: 50%;
    border-right: 1px solid $grey-color-60;
    padding: 7px 40px 7px 0;
    ~ .half {
      padding: 7px 0 7px 40px;
      border-right: 0;
    }
  }
}

auth-current-user,
auth-modal-patch {
  display: none!important;
  height:0;
  width:0;
  overflow: hidden;
}