@import '../styleguide';

/*How To Use*/
//<action-button link/button/helper type="primary/secondary" fill="solid/outlined" color="red/purple/white" size="small/medium/large" align="left,center,right" action="{{action}}">
//if helper attributes [type],[fill],[size] and [color] are not required

action-button {
  &[link], &[button] {
    a, input[type="submit"] {
      @extend %large-radius, %button-font, %anime;
      padding: 10px 20px;
      display: inline-block;
      color: $white;
      border: none;
      outline: none;
    }
    &[color="red"] {
      a, input[type="submit"] {
        background: $secondary-color-100;
        &:hover {
          background: $secondary-color-60;
        }
      }
    }
    &[color="purple"] {
      a, input[type="submit"] {
        background: $main-color-100;
        &:hover {
          background: $main-color-60;
        }
      }
    }
    &[color="white"] {
      a, input[type="submit"] {
        color: $main-color-100;
        background: $white;
        &:hover {
          color: $main-color-80;
          background: rgba($white, .8);
        }
      }
    }
    &[fill="outlined"] {
      &[color="red"] {
        a, input[type="submit"] {
          background: transparent;
          @include box-shadow(0, 0, 0, 3px $secondary-color-100, inset);
          color: $secondary-color-100;
          &:hover {
            background: transparent;
            @include box-shadow(0, 0, 0, 3px $secondary-color-60, inset);
            color: $secondary-color-60;
          }
        }
      }
      &[color="purple"] {
        a, input[type="submit"] {
          background: transparent;
          @include box-shadow(0, 0, 0, 3px $main-color-100, inset);
          color: $main-color-100;
          &:hover {
            background: transparent;
            @include box-shadow(0, 0, 0, 3px $main-color-60, inset);
            color: $main-color-60;
          }
        }
      }
      &[color="white"] {
        a, input[type="submit"] {
          background: transparent;
          @include box-shadow(0, 0, 0, 3px $white, inset);
          color: $white;
          &:hover {
            background: transparent;
            @include box-shadow(0, 0, 0, 3px rgba($white, .8), inset);
            color: rgba($white, .8);
          }
        }
      }
    }
    &[type="secondary"] {
      a, input[type="submit"] {
        @extend %small-radius;
      }
    }
    &[size="large"] {
      a, input[type="submit"] {
        width: 100%;
      }
    }
    &[size="medium"] {
      a, input[type="submit"] {
        padding: 10px 30px;
      }
    }
    &[mainsearch] {
      a, input[type="submit"] {
        @extend %center-y;
        right: 0;
      }
    }
  }
  &[more] {
    div {
      font-size: 14px;
      line-height: 50px;
      span {
        color :$grey-color-100;
        font-style: italic;
      }
      a {
        color: $secondary-color-100;
        svg {
          width: 11px;
          height: 11px;
          fill: $secondary-color-100;
          position: relative;
          bottom: -1px;
        }
        &:hover {
          text-decoration: underline;
          color: $secondary-color-hover;
          svg {
            fill: $secondary-color-hover;
          }
        }
      }
      &.inline {
        display: inline-block;
      }
      &.align-right{
        text-align: right;
      }
      &.align-center{
        text-align: center;
      }
      &.align-left{
        text-align: left;
      }
    }
  }
  &[forgotten-password] {
    float: right;
    line-height: 40px;
    a{
      font-size: 12px;
      color: $secondary-color-100;
      &:hover{
        color: $secondary-color-hover;
      }
    }
  }
}

