@import '../styleguide';

/*How To Use*/
//<action-button link/button/helper type="primary/secondary" fill="solid/outlined" color="red/purple/white" size="small/medium/large" align="left,center,right" action="{{action}}">
//if helper attributes [type],[fill],[size] and [color] are not required

action-button {
  &[link], &[button], &[submit] {
    display: inline-block;
    &[density="airy"]{
      padding: 40px 0
    }
    &[density="comfortable"]{
      padding: 30px 0
    }
    &[density="cozy"]{
      padding: 20px 0
    }
    &[density="compact"]{
      padding: 10px 0;
    }
    a, button {
      @extend %large-radius, %button-font, %anime;
      padding: 10px 20px;
      display: inline-block;
      color: $white;
      border: none;
      outline: none;
    }
    &[color="red"] {
      a, button {
        background: $secondary-color-100;
        &:hover {
          background: $secondary-color-60;
        }
      }
    }
    &[color="purple"] {
      a, button {
        background: $main-color-100;
        &:hover {
          background: $main-color-60;
        }
      }
    }
    &[color="white"] {
      a, button {
        color: $main-color-100;
        background: $white;
        &:hover {
          color: $main-color-80;
          background: rgba($white, .8);
        }
      }
    }
    &[fill="outlined"] {
      &[color="red"] {
        a, button {
          background: transparent;
          @include box-shadow(0, 0, 0, 3px $secondary-color-100, inset);
          color: $secondary-color-100;
          &:hover {
            background: transparent;
            @include box-shadow(0, 0, 0, 3px $secondary-color-60, inset);
            color: $secondary-color-60;
          }
        }
      }
      &[color="purple"] {
        a, button {
          background: transparent;
          @include box-shadow(0, 0, 0, 3px $main-color-100, inset);
          color: $main-color-100;
          &:hover {
            background: transparent;
            @include box-shadow(0, 0, 0, 3px $main-color-60, inset);
            color: $main-color-60;
          }
        }
      }
      &[color="white"] {
        a, button {
          background: transparent;
          @include box-shadow(0, 0, 0, 3px $white, inset);
          color: $white;
          &:hover {
            background: transparent;
            @include box-shadow(0, 0, 0, 3px rgba($white, .8), inset);
            color: rgba($white, .8);
          }
        }
      }
    }
    &[type="secondary"] {
      a, button {
        @extend %small-radius;
      }
    }
    &[size="gigalarge"] {
      a, button {
        width: 100%;
        padding: 15px 30px;
        @extend %bodytext-large-font;
        line-height: 20px;
        &[type="primary"]{
          a, button {
            border-radius: $large-radius + 6px;
          }
        }
      }
    }
    &[size="extralarge"] {
      a, button {
        width: 100%;
      }
    }
    &[size="large"] {
      a, button {
        padding: 10px 40px;
      }
    }
    &[size="medium"] {
      a, button {
        padding: 10px 30px;
      }
    }
    &[mainsearch] {
      a, button {
        @extend %center-y;
        right: 0;
      }
    }
  }
  &[helper] {
    div {
      font-size: 14px;
      span {
        color: $grey-color-100;
        font-style: italic;
        padding: 0 0 0 10px;
      }
      a {
        color: $secondary-color-100;
        svg {
          width: 11px;
          height: 11px;
          fill: $secondary-color-100;
          position: relative;
          bottom: -1px;
        }
        &:hover {
          text-decoration: underline;
          color: $secondary-color-hover;
          svg {
            fill: $secondary-color-hover;
          }
        }
      }
      &.inline {
        display: inline-block;
      }
      &.align-right {
        text-align: right;
        float: right;
      }
      &.align-center {
        text-align: center;
      }
      &.align-left {
        text-align: left;
      }
    }
    &[density="airy"] {
      line-height: 50px
    }
    &[density="comfortable"] {
      line-height: 40px
    }
    &[density="cozy"] {
      line-height: 32px
    }
  }
  &[icon="false"] {
    svg {
      display: none;
    }
  }
  &[password] {
    float: right;
  }
}

