@import '../styleguide';

/*How To Use*/
/*Colors: white, red, purple*/
/*Attributes: secondary, outlined*/

action-button {
  a {
    @extend %large-radius, %button-font;
    padding: 10px 30px;
    display: inline-block;
    color: $white;
    &.red {
      background: $secondary-color-100;
      &:hover {
        background: $secondary-color-60;
      }
    }
    &.purple {
      background: $main-color-100;
      &:hover {
        background: $main-color-60;
      }
    }
    &.white {
      color: $main-color-100;
      background: $white;
      &:hover {
        color: $main-color-80;
        background: rgba($white, .8);
      }
    }
    &.outlined { background: transparent;
      &:hover {background: transparent; }
      &.red {
        @include box-shadow(0, 0, 0, 3px $secondary-color-100, inset );
        color: $secondary-color-100;
        &:hover {
          @include box-shadow(0, 0, 0, 3px $secondary-color-60, inset );
          color: $secondary-color-60;
        }
      }
      &.purple {
        @include box-shadow(0, 0, 0, 3px $main-color-100, inset );
        color: $main-color-100;
        &:hover {
          @include box-shadow(0, 0, 0, 3px $main-color-60, inset );
          color: $main-color-60;
        }
      }
      &.white {
        @include box-shadow(0, 0, 0, 3px $white, inset );
        color: $white;
        &:hover {
          @include box-shadow(0, 0, 0, 3px rgba($white, .8), inset );
          color: rgba($white, .8);
        }
      }
    }
    &.secondary {
      @extend %small-radius;
    }
  }
}