@import '../styleguide';

resume {
    display: block;
    position: relative;
    background: $grey-color-60;
    padding: 25px 0;
    border-bottom: 1px solid $grey-color-80;
    & > section {
        @extend %wrapper;
        & > div {
            float: left;
            width: 75%;
            padding: 0 5px 0 0;
            article {
                padding: 10px 0 0;
                p {
                    @extend %bodytext-large-font;
                    color: $body-text-color;
                    margin: 0 0 23px;
                }
            }
            h4 {
                @extend %bodytext-large-font;
                font-weight: 600;
                margin: 0 0 8px;
            }
        }
        .tags {
            margin: -10px 0 0 0;
            position: relative;
            padding: 0 0 22px 0;
            .icon {
                width: 15px;
                height: 15px;
                position: absolute;
                top: 3px;
                left: 0;
                svg {
                    width: 100%;
                    height: 100%;
                    fill: $grey-color-100;
                }
            }
            section {
                position: relative;
                padding: 0 0 0 20px;
            }
            a {
                @extend %bodytext-font;
                color: $secondary-color-100;
                display: inline-block;
                margin: 0 5px 0 0;
                position: relative;
                &:hover {
                    text-decoration: underline;
                    color: $secondary-color-hover;
                }
                &:after {
                    content: ',';
                }
                &:last-of-type:after {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: $small-desktop-width), screen and (max-device-width: $small-desktop-width) {
    resume {
        & > section > div {
            width: 67%;
        }
    }
}

@media screen and (max-width: $tablet-landscape-width), screen and (max-device-width: $tablet-landscape-width) {
    resume {
        & > section > div {
            width: 58%;
        }
    }
}


@media screen and (max-width: $tablet-portrait-width), screen and (max-device-width: $tablet-portrait-width) {
    resume {
        & > section > div {
            width: 50%;
        }
    }
}

@media screen and (max-width: $phone-width), screen and (max-device-width: $phone-width) {
    resume {
        & > section > div {
            width: 100%;
        }
    }
}


@media screen and (max-width: $small-phone-width), screen and (max-device-width: $small-phone-width) {
    resume {
        & > section > div {
            width: 67%;
        }
    }
}
