@import '../styleguide';

cards-area {
    @extend %wrapper;
    display: block;
    position: relative;
    & > section {
        header {
        }
        & > section {
            display: block;
            max-width: 1200px;
            margin: 0 -10px;
            position: relative;
        }
        footer {
        }
    }
    //properties for density top, bottom
    &[density="airy"] {
        & > section {
            padding: 40px 0
        }
    }
    &[density="comfortable"] {
        & > section {
            padding: 30px 0
        }
    }
    &[density="cozy"] {
        & > section {
            padding: 20px 0
        }
    }
    &[density="compact"] {
        & > section {
            padding: 0 0 10px 0;
        }
    }
    &[density="negative-compact"] {
        & > section {
            padding: 0;
            margin: 0 0 -14px;
        }
    }
}
