@import '../styleguide';

cards-area {
    @extend %wrapper;
    display: block;
    position: relative;
    & > section {
        .notification-wrap > notification{
            margin: 0 0 20px 0;
        }
        & > section {
            display: block;
            max-width: 1200px;
            margin: 0 -10px;
            position: relative;
        }
        footer {
        }
    }
    //properties for density top, bottom
    &[density="airy"] {
        & > section {
            padding: 40px 0
        }
    }
    &[density="comfortable"] {
        & > section {
            padding: 30px 0
        }
    }
    &[density="cozy"] {
        & > section {
            padding: 20px 0
        }
    }
    &[density="compact"] {
        & > section {
            padding: 0 0 10px 0;
        }
    }
    &[density="negative-compact"] {
        & > section {
            padding: 0;
            margin: 0 0 -14px;
        }
    }
}

@media screen and (max-width: $small-desktop-width + 20), screen and (max-device-width: $small-desktop-width + 20) {
    cards-area {
        card {
            width: 33.33%;
            &:nth-of-type(4) {
                margin-top: 15px;
            }
        }
        &[essential] card {
            padding: 0 2%;
            &:nth-of-type(4) {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $tablet-landscape-width), screen and (max-device-width: $tablet-landscape-width) {
    cards-area {
        card {
            width: 50%;
            &:nth-of-type(3) {
                margin-top: 15px;
            }
        }
        &[essential] card {
            padding: 0 2%;
            &:nth-of-type(3) {
                display: none;

            }
        }
    }
}

@media screen and (max-width: $tablet-portrait-width), screen and (max-device-width: $tablet-portrait-width) {
    cards-area {
        &[essential] {
            card {
                padding: 0 10px;

            }
        }
    }
}

@media screen and (max-width: $phone-width), screen and (max-device-width: $phone-width) {
    cards-area {
        card {
            width: 100%;
            &:nth-of-type(2), &:nth-of-type(1) {
                margin-top: 15px;
            }
        }
        &[essential] {
            card {
                padding: 0 15%;
                &:nth-of-type(1) {
                    margin-top: 0;
                }
                &:nth-of-type(2) {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: $small-phone-width), screen and (max-device-width: $small-phone-width) {
    cards-area {
        &[essential] {
            card {
                padding: 0 10px;
            }
        }
    }
}
