@import '../styleguide';

text-field{
  display: block;
  position: relative;
  padding: 0 0 17px;
  &[type="textarea"] {
    padding: 0 0 20px;
  }
  &[size="full"]{
    width: 100%;
    max-width: 100%;
    textarea {
      min-height: 194px;
    }
  }
  &[size="half"]{
    max-width: 50%;
    textarea{
     min-height: 100px;
    }
  }
  &[size="standart"]{
    max-width: 380px;
    textarea{
       min-height: 75px;
    }
  }
  &[state="error"] {
  }
  &[state="disabled"] {
  }
  label {
    display: block;
    @extend %label-font;
    color: $grey-color-100;
    padding: 0 0 5px;
  }
  textarea{
    display: block;
    width: 100%;
    max-width:100%;
    position: relative;
    @extend %small-radius, %bodytext-font;
    padding: 9px 10px;
    border: 1px solid $grey-color-80;
    outline: none;
    &:focus{
      border-color: $grey-color-100;
    }
  }
  input[type="text"], input[type="email"], input[type="number"], input[type="phone"], input[type="password"]{
    display: block;
    width: 100%;
    position: relative;
    @extend %small-radius;
    padding: 0 10px;
    border: 1px solid $grey-color-80;
    outline: none;
    height: 40px;
    line-height: 40px;
    &:focus{
      border-color: $grey-color-100;
    }
  }
}