%center-x-simple {
  left: 0;
  right: 0;
  margin: 0 auto;
}

%center-y-simple {
  top: 50%;
  margin-top: -$border-width;
}

/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
  position: absolute;
  font-size: 0;
  line-height: 0;
  left: 0;
  top: 0;
  z-index: 1050;
  pointer-events: none;
  width: auto;
  overflow: visible;
  .tooltipster-content {
    overflow: hidden;
  }
}

.tooltipster-signali {
  @extend %large-radius;
  /* Use this next selector to style things like font-size and line-height: */
  .tooltipster-content {
    @extend %label-font;
    padding: 16px 20px;
    overflow: hidden;
  }
  .content {
    display: block;
  }
  .tooltipster-arrow .tooltipster-arrow-border {
    display: none;
  }

  &.light {
    background: rgba($tip-color-light, 0.9);
    color: $tip-color-dark;
    .tooltipster-arrow span {
      border-color: rgba($tip-color-light, 0.9);
    }
  }
  &.dark {
    background: rgba($tip-color-dark, 0.9);
    color: $tip-color-light;
    .tooltipster-arrow span {
      border-color: rgba($tip-color-dark, 0.9);
    }
  }

  &.medium {
    max-width: 340px;
  }
  &.extralarge {
    max-width: 720px;
  }
  &.large {
    max-width: 480px;
  }
  &.small {
    max-width: 220px;
  }
  /* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
  .tooltipster-arrow {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    span {
      display: block;
      border-style: solid;
      width: 0;
      height: 0;
      position: absolute;
    }

    &.tooltipster-arrow-top span {
      @extend %center-x-simple;
      border-width: $border-width $border-width 0 $border-width;
      border-left-color: transparent;
      border-right-color: transparent;
      bottom: -$border-width;
    }

    &.tooltipster-arrow-left span {
      @extend %center-y-simple;
      right: -$border-width;
      border-width: $border-width 0 $border-width $border-width;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }

    &.tooltipster-arrow-bottom span {
      @extend %center-x-simple;
      border-width: 0 $border-width $border-width $border-width;
      top: -$border-width;
      border-left-color: transparent;
      border-right-color: transparent;
    }

    &.tooltipster-arrow-right span {
      @extend %center-y-simple;
      left: -$border-width;
      border-width: $border-width $border-width $border-width 0;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.tooltipster-grow {
  transform: scale(0, 0);
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}

.tooltipster-grow-show {
  transform: scale(1, 1);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
  opacity: 0.5;
  transform: scale(1.1, 1.1);
}
