@import '../styleguide';
$tip-color-dark: #101240;
$tip-color-light: $white;
$border-width: 9px;
@import './_tooltipster';

/*How To Use*/
/*Colors: light, dark */
/*Size: large - 180px , medium - 160px, small - 100 */
/*Align: center, left, righr */
[tip-container] {
    &[no-icon] {
        text-decoration: dotted;
        cursor: help;
    }
}

//%tooltip {
//    @extend %large-radius, %label-font;
//    display: block;
//    padding: 16px 20px;
//    margin-bottom:$border-width;
//    position: relative;
//    &:after {
//        display: block;
//        position: absolute;
//        content: '';
//        border-style: solid;
//        width: 0;
//        height: 0;
//    }
//    &[color="light"] {
//        background: rgba($tip-color-light, 0.9);
//        color: $tip-color-dark;
//        &:after {
//            border-color: rgba($tip-color-light, 0.9);
//        }
//    }
//    &[color="dark"] {
//        background: rgba($tip-color-dark, 0.9);
//        color: $tip-color-light;
//        &:after {
//            border-color: rgba($tip-color-dark, 0.9);
//        }
//    }
//    &[size="medium"] {
//        width: 340px;
//    }
//    &[size="extralarge"] {
//        width: 720px;
//    }
//    &[size="large"] {
//        width: 480px;
//    }
//    &[size="small"] {
//        width: 220px;
//    }
//    &[position="top"]:after{
//        @extend %center-x;
//        bottom: -$border-width;
//        border-width: $border-width $border-width 0 $border-width;
//        border-left-color: transparent;
//        border-right-color: transparent;
//    }
//    &[position="left"]:after{
//        @extend %center-y;
//        right: -$border-width;
//        border-width: $border-width 0 $border-width $border-width ;
//        border-top-color: transparent;
//        border-bottom-color: transparent;
//    }
//    &[position="bottom"]:after{
//        @extend %center-x;
//        top: -$border-width;
//        border-width: 0 $border-width $border-width $border-width;
//        border-left-color: transparent;
//        border-right-color: transparent;
//    }
//    &[position="right"]:after {
//        @extend %center-y;
//        left: -$border-width;
//        border-width: $border-width $border-width $border-width 0   ;
//        border-top-color: transparent;
//        border-bottom-color: transparent;
//    }
//}


.tooltipster-base .content {
    //@extend %tooltip;
}

tip {
    .helper-wrap {
        position: relative;
        display: inline-block;
        margin: 0 0 0 5px;
    }
    svg {
        width: 14px;
        height: 14px;
        fill: $tip-color-dark;
        position: relative;
        cursor: pointer;
        margin: 0 0 -1px 0;
    }
    &[color="dark"] {
        svg{
            fill: $tip-color-dark;
        }
    }
    &[color="light"] {
        svg {
            fill: $tip-color-light;
        }
    }
    &[enlargement="compact"]{
        .helper-wrap{
            margin: 0;
            bottom: -3px;
        }
    }
    //.content {
    //    @extend %tooltip;
    //}
}
