@import '../styleguide';

$tip-color: #101240;
/*How To Use*/
/*Colors: light, dark */
/*Size: large - 180px , medium - 160px, small - 100 */
/*Align: center, left, righr */
[tip-container]{
  position: relative;
}
tip {
  svg {
    width: 14px;
    height: 14px;
    fill: $tip-color;
    position: relative;
    margin: 0 0 0 5px;
  }
  span{
    position: absolute;
  }
  &[color="dark"]{
    background: rgba($tip-color, 0.9);
  }
  &[position="top"]{
    @extend %center-x;
    top:0;
  }
}
