@import '../styleguide';

breadcrumb {
    display: block;
    ul {
        font-size: 0;
        display: block;
        list-style-type: none;
        position: relative;
        margin: 0;
        padding: 0;
    }
}


@media screen and (max-width: $phone-width), screen and (max-device-width: $phone-width) {
    breadcrumb{
        display: none;
    }
}