{% load location %}
<div style="display:none;">
    <modal id="addnew"
           {% if not request.user.is_authenticated %}auth-required auth-id="addNewAuth"{% endif %}
           proposal-container
           validate-bubbles
    >
        <modal-screen {# size="medium" #}>
            <headline size="large" density="airy" align="center">
                Добави сайт
                <p>Ако знаеш за страница в интернет, от където може да се подаде сигнал, сподели за нея:</p>
            </headline>
            <proposal action="{% url 'contact-point-list' %}">
                <bubble size="standart" color="white" type="error" density="compact" hidden class="animated fadeInUp">
                    Има грешка в полетата. Провери ги и виж какво е в червено.
                </bubble>
                {% csrf_token %}
                <input type="hidden" name="prefix" value="{{prefix}}"/>
                <auth-current-user>{{ form.proposed_by }}</auth-current-user>
                <text-field required size="full" type="text" name="{{ form.url.html_name }}" validate-type="url" placeholder="https://www.example.com/form" required>
                    Интернет адрес (линк) към формата за попълване
                    <notification error size="text-field" hidden></notification>
                </text-field>
                <text-field required size="full" type="text" name="{{ form.title.html_name }}" required>
                    Име на организацията, която ще получи сигнала
                    <notification error size="text-field" hidden></notification>
                </text-field>
                <select-dropdown
                        id="{{prefix}}_category"
                        placeholder="Натисни тук и избери"
                        name="{{form.category.html_name}}"
                        size="full"
                        required
                >
                    <label>Каква категория сигнали се приемат?</label>
                    {% for id, label in form.category.field.choices %}
                    {% if id %}<value id="{{id}}">{{label}}</value>{% endif %}
                    {% endfor %}
                    <notification error size="text-field" hidden></notification>
                </select-dropdown>
                <select-dropdown
                        id="{{prefix}}_area"
                        name="{{form.operational_area.html_name}}"
                        remote-url="{% url 'area-list-search' %}"
                        placeholder="Избери или търси населено място"
                        size="full"
                        required>
                    <label>За проблеми от кой регион се приемат сигнали?</label>
                    {% featured_areas form.fields.operational_area %}
                    <notification error size="text-field" hidden></notification>
                    <notification information size="text-field">Т.е. къде в страната трябва да е проблема, за да реагира организацията на сигнала</notification>
                </select-dropdown>

                <filters color="white">
                    <strong>Какво от изреденото по-долу се изисква?</strong>
                    <checkbox id="{{prefix}}_is_registration_required" name="{{form.is_registration_required.html_name}}" value="{{checkbox_value}}">Регистрация</checkbox>
                    <checkbox id="{{prefix}}_is_photo_required" name="{{form.is_photo_required.html_name}}" value="{{checkbox_value}}">Снимка</checkbox>
                    <checkbox id="{{prefix}}_is_esign_required" name="{{form.is_esign_required.html_name}}" value="{{checkbox_value}}">Ел. Подпис</checkbox>
                    <checkbox id="{{prefix}}_is_name_required" name="{{form.is_name_required.html_name}}" value="{{checkbox_value}}">Име</checkbox>
                    <checkbox id="{{prefix}}_is_email_required" name="{{form.is_email_required.html_name}}" value="{{checkbox_value}}">Е-mail</checkbox>
                    <checkbox id="{{prefix}}_is_pic_required" name="{{form.is_pic_required.html_name}}" value="{{checkbox_value}}">EГН</checkbox>
                    <checkbox id="{{prefix}}_is_address_required" name="{{form.is_address_required.html_name}}" value="{{checkbox_value}}">Адрес на подателя</checkbox>
                    <checkbox id="{{prefix}}_is_location_required" name="{{form.is_location_required.html_name}}" value="{{checkbox_value}}">Локация на сигнала</checkbox>
                </filters>

                <filters color="white">
                    <strong>Какво предлага мястото?</strong>
                    <checkbox id="{{prefix}}_is_response_guaranteed" name="{{form.is_response_guaranteed.html_name}}" value="{{checkbox_value}}">Гаранция за отговор</checkbox>
                    <checkbox id="{{prefix}}_is_anonymous_allowed" name="{{form.is_anonymous_allowed.html_name}}" value="{{checkbox_value}}">Анонимни сигнали</checkbox>
                    <checkbox id="{{prefix}}_is_mobile_friendly" name="{{form.is_mobile_friendly.html_name}}" value="{{checkbox_value}}">Мобилна версия</checkbox>
                    <checkbox id="{{prefix}}_is_final_destination" name="{{form.is_final_destination.html_name}}" value="{{checkbox_value}}">
                        Крайна точка за сигнала
                        <tip size="medium" color="dark" position="top">Организацията, която ще получи сигнала, пряко ли е отговорна за разрешаването му
                            или е посредник, като примерно НПО, неформална гражданска група?
                        </tip>
                    </checkbox>
                    <checkbox id="{{prefix}}_is_verifiable" name="{{form.is_verifiable.html_name}}" value="{{checkbox_value}}" enlargement="compact" >
                        Проследимост
                        <tip size="small" color="dark" position="top">Може ли да се проследи развитието по сигнала?</tip>
                    </checkbox>
                    <checkbox id="{{prefix}}_is_confirmation_issued" name="{{form.is_confirmation_issued.html_name}}" value="{{checkbox_value}}" enlargement="compact">
                        Потвърждение
                        <tip size="small" color="dark" position="top">Изпраща ли се потвърждение за получен сигнал? <em>(пр: имеил или обажндане)</em></tip>
                    </checkbox>
                    <checkbox id="{{prefix}}_is_multilingual" name="{{form.is_multilingual.html_name}}" value="{{checkbox_value}}">Многоезичност</checkbox>
                </filters>
                <text-field required size="full" type="textarea" name="{{ form.notes.html_name }}">
                    Как става подаването на сигнал?
                    <notification error size="text-field" hidden></notification>
                    <notification information size="text-field">
                        Разкажи за ограничения във видовете приемани сигнали, специфики или инструкции при подаването.
                    </notification>
                </text-field>

                <action-button submit align="left" type="primary" fill="solid" color="red">
                    Добави
                </action-button>

                {% if not user.is_authenticated %}
                <auth-container-patch>
                    <auth-title>Преди да публикуваме</auth-title>
                    <auth-subtitle>
                        Влез или се регистрирай, за да можем да се свържем с теб, ако си имал проблем.
                    </auth-subtitle>
                </auth-container-patch>
                {% endif %}
            </proposal>
        </modal-screen>
    </modal>
</div>