{% load restful %}
{% load thumbnail %}

{% if point.is_parent_with_many_children %}
    <div hidden>
        <modal id="card_{{ point.id }}_modal">
            <modal-screen>
                <headline size="large" density="airy" align="center">
                    Избери регион
                </headline>
                <text>
                    <select-dropdown links size="full" density="compact" placeholder="Региони..." placeholder-type="vivid">
                        {% for point_child in point.children.public_base %}
                            <value id="{{ point_child.slug }}" href="{% url 'contact-point' slug=point_child.slug %}">{{ point_child.operational_area }}</value>
                        {% endfor %}
                    </select-dropdown>
                </text>
            </modal-screen>
        </modal>
    </div>
{% endif %}
<card
      action="{% if point.is_parent_with_many_children %}#card_{{ point.id }}_modal{% else %}{% url 'contact-point' slug=point.slug_or_child_slug %}{% endif %}"
      {% if point.is_parent_with_many_children %}parent{% endif %}
>
    {% if point.preview %}
        {% thumbnail point.preview "280x123" crop="center" as img %}
            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="Снимка от сайта на {{ point.title_or_organisation }}"/>
        {% endthumbnail %}
    {% else %}
        <p class="img nopreview"></p>
    {% endif %}
    <strong>{{ point.title_or_organisation|truncatechars:50 }}</strong>
    <card-item type="category">
        <strong>категория</strong>
        <a href="{% url 'contact-point-list' %}{% query categories=point.category.pk %}"
           class="category">{{ point.category.title }}</a>
    </card-item>
    <card-item type="location">
        <strong>Приема сигнали от</strong>
        <a href="{% url 'contact-point-list' %}{% query areas=point.operational_area.pk %}"
           class="location">{{ point.operational_area.title }}</a>
    </card-item>
    <card-item type="tags">
        <strong>Ключови думи</strong>
        {% for tag in point.keywords.all|slice:":2" %}
            <a href="{% url 'contact-point-list' %}{% query keywords=tag.pk %}">{{ tag.title }}</a>
        {% endfor %}
        {% if point.keywords.count >= 2 %}
        <a href="{% if point.is_parent_with_many_children %}#card_{{ point.id }}_modal{% else %}{% url 'contact-point' slug=point.slug_or_child_slug %}{% endif %}"
           {% if point.is_parent_with_many_children %}target="modal"{% endif %}
        >&hellip;и още {{ point.keywords.count|add:"-2" }}</a>
        {% endif %}
    </card-item>
    <card-item type="rating">
        <strong>Оценка</strong>
        <rating value="{{ point.rating }}"
                target="modal"
                href="{% if point.is_parent_with_many_children %}#card_{{ point.id }}_modal{% else %}{% url 'contact-point' slug=point.slug_or_child_slug %}#feedback{% endif %}">
            {% if not point.is_parent_with_many_children %}<a class="comments" href="{% url 'contact-point' slug=point.slug_or_child_slug %}#feedbacklist">({{point.feedback_count}} оценки)</a>{% endif %}
        </rating>
    </card-item>
    <action-button link type="secondary"
                   fill="solid" color="red" size="extralarge"
                   {% if point.is_parent_with_many_children %}target="modal"{% endif %}
                   action="{% if point.is_parent_with_many_children %}#card_{{ point.id }}_modal{% else %}{% url 'contact-point' slug=point.slug_or_child_slug %}{% endif %}">
        Подаване на сигнал
    </action-button>
</card>
