@import '../styleguide';

top-nav {
    display: block;
    padding: 36px 0 30px 0;
    position: relative;
    z-index: 20;
    .second-nav {
        position: relative;
        margin: -4px 0 0 0;
        float: right;
    }
}
@media screen and (max-width: $tablet-portrait-width + 100px),screen and (max-device-width:$tablet-portrait-width + 100px){
    .second-nav{
        display: none;
    }
}