{% load restful %}
<!--<menu>-->
    <!--Категории-->
    <!--{% for category in categories %}-->
    <!--<menu-column>-->
        <!--<h2>{{ category.title }}</h2>-->
        <!--<ul>-->
            <!--{% for sub_category in category.children.all %}-->
            <!--<li><a href="{% url 'contact-point-list' %}{% query categories=sub_category.pk %}">{{sub_category.title}}</a></li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--</menu-column>-->
    <!--{% endfor %}-->
<!--</menu>-->
<menu>
    Категории
    <menu-column>
        <h2>Граждански</h2>
        <ul>
            <li><a href="#">Административни неуреди</a></li>
            <li><a href="#">Лекарски злоупотреби</a></li>
            <li><a href="#">Паркиране</a></li>
            <li><a href="#">Интелектуална собственост</a></li>
            <li><a href="#">Тютюнопушене на обществени места</a></li>
            <li>
                <action-button helper density="comfortable" align="left" action="google.com">
                    виж всички
                </action-button>
            </li>
        </ul>
    </menu-column>
    <menu-column>
        <h2>Престъпност</h2>
        <ul>
            <li><a href="#">Корупция</a></li>
            <li><a href="#">Измами</a></li>
            <li><a href="#">Кражби</a></li>
            <li><a href="#">Пътно-транспортни</a></li>
            <li><a href="#">Бракониерство</a></li>
            <li>
                <action-button helper density="cozy" align="left" action="google.com">
                    виж всички
                </action-button>
            </li>
        </ul>
    </menu-column>
    <menu-column>
        <h2>Други</h2>
        <ul>
            <li><a href="#">Загубени вещи</a></li>
            <li><a href="#">Интернет измами</a></li>
            <li><a href="#">Бедствия</a></li>
        </ul>
    </menu-column>
    <menu-column>
        <h2>Градски</h2>
        <ul>
            <li><a href="#">Дупки по пътищата</a></li>
            <li><a href="#">Опасни елементи</a></li>
            <li><a href="#">Натоварено крастовище</a></li>
            <li><a href="#">Бездомни кучета</a></li>
            <li><a href="#">Велосипедни неуредици</a></li>
            <li>
                <action-button helper density="cozy" align="left" action="google.com">
                    виж всички
                </action-button>
            </li>
        </ul>
    </menu-column>
    <menu-column>
        <h2>Потребителски</h2>
        <ul>
            <li><a href="#">ВиК</a></li>
            <li><a href="#">Електроснабдяване</a></li>
            <li><a href="#">Сметки</a></li>
            <li><a href="#">Отказана гаранция</a></li>
            <li><a href="#">Проблеми с договори</a></li>
            <li>
                <action-button helper density="cozy" align="left" action="google.com">
                    виж всички
                </action-button>
            </li>
        </ul>
    </menu-column>
    <a href="www.go-to.all.com/all/more-all/3rd-level-more/so-many-levels-more">Виж всички (143)</a>
</menu>