{% load static %}
{% load restful %}
<cards-area density="compact">
    <header>
    <headline size="large" align="center" density="compact">Актуални<!--{{ category.title }}--></headline>
    </header>

    {% for point in category.contact_points.all|slice:":5" %}
        {% include "_card.html" with point=point request=request %}
    {% endfor %}
    <footer>
        <action-button helper density="airy" align="right" action="{% url 'contact-point-list' %}{% query categories=category.pk %}">
            <span>или</span>виж всички
        </action-button>
    </footer>
</cards-area>