{% load date %}
{% load thumbnail %}
<comments>
    <headline size="small" density="compact">{{ feedback_entries.count }} коментара</headline>
    {% for feedback in feedback_entries %}
        <comment>
            <article>
                {{ feedback.comment|linebreaks }}
            </article>
            <span>Публикуван на {{ feedback.added_at|humantime }} от</span>
            <a class="name">{{ feedback.user.get_full_name }}</a>
            {% thumbnail feedback.user.get_avatar "30x30" crop="center" as img %}
                <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"
                     alt="Снимка на {{ feedback.user.get_full_name }}"/>
            {% endthumbnail %}
            <action-button action="#feedback" reply>Сподели своя опит</action-button>
        </comment>
    {% endfor %}
{#  <name-tag>@userhandle</name-tag>#}
</comments>