{% load taxonomy %}
<footer-wrapper>
    <logo action="home" color="dark" size="medium" align="right"></logo>
    <footer-navigation>
        <footer-column>
            <h5>За Signali.bg</h5>
            <li><a href="{% url 'page' slug='aboutus' %}">Какво е Signali.bg</a></li>
            {#                <li><a href="#">Пиши на екипът</a></li>#}
            <li><a href="#">За BlueLink</a></li>
            <li><a href="#">За Общество.бг</a></li>
        </footer-column>
        {% featured_categories request %}
    </footer-navigation>
    <sponsors>
        <h5>Спонсори</h5>
        <li><a href="#"><img src="test/sponsor-geagrants.png" alt=""/></a></li>
        <li><a href="#"><img src="test/sponsor-bluelink.png" alt=""/></a></li>
        <li><a href="#"><img src="test/sponsor-obhstestvo.png" alt=""/></a></li>
    </sponsors>
    <p>Signali.bg е създаден с финансовата подкрепа на <strong>EEA grants</strong></p>
</footer-wrapper>