{% load signali %}
{% load taxonomy %}
<footer-wrapper>
    <logo action="{% url 'home' %}" color="dark" size="medium" align="right"></logo>
    <footer-navigation>
        <footer-column>
            <h5>За Signali.bg</h5>
            <li><a href="{% url 'page' slug='aboutus' %}">Какво е Signali.bg</a></li>
            {#                <li><a href="#">Пиши на екипът</a></li>#}
            <li><a href="http://www.bluelink.net/">За BlueLink</a></li>
            <li><a href="https://www.obshtestvo.bg/">За Общество.бг</a></li>
        </footer-column>
        {% featured_categories request %}
    </footer-navigation>
    {% featured_partners %}
    <p>Signali.bg е създаден с финансовата подкрепа на <strong>EEA grants</strong></p>
</footer-wrapper>