{% load taxonomy %}
<form action="{% url 'contact-point-list' %}" method="get">
    <select-dropdown name="{{form.areas.html_name}}" theme="light" placeholder="Избери от падащото меню" location="simple" priority="low" mainsearch>
        <label>Mестност, в която се е случило:</label>
        {% for id, label in form.areas.field.choices %}
        <value id="{{id}}">{{label}}</value>
        {% endfor %}
    </select-dropdown>
    <select-dropdown theme="light" priority="medium" placeholder="Търси по категории, теми или с нещо специфично на ум" multiple mainsearch>
        <label>За какво се отнася:</label>
        {% taxonomy_mixed_options request form %}
        <div class="filters">
            <p>Допълнителни опции:</p>
            <section>
                <checkbox id="register" name="register">Не изисква регистрация</checkbox>
                <checkbox id="asdasd" name="asdasdasd">Не изисква лични данни</checkbox>
                <action-button helper density="cozy" align="right" action="{% url 'contact-point-list' %}">
                    <span>... още с</span> подробно търсене
                </action-button>
            </section>
        </div>
    </select-dropdown>
    <action-button submit type="primary" fill="solid" color="red" size="medium" mainsearch>
        търси
    </action-button>
</form>
