<survey
        {% if not request.user.is_authenticated %}auth-required auth-id="commentAuth"{% endif %}
        action="{% url 'contact-point-feedback-list' slug=contactpoint.slug %}"
        method="post"
        id="feedback"
>
    <headline size="small" density="compact">Твоята оценка за „{{contactpoint.title}}“</headline>
    {% if request.user.is_authenticated %}
    <notification information size="small">Споделяш опит като {{ request.user.get_full_name }} ({{request.user.email}})</notification>
    {% endif %}
    {% csrf_token %}
    <input type="hidden" name="prefix" value="{{prefix}}"/>
    <input type="hidden" name="submission" value="new_feedback"/>
    <auth-current-user>{{ form.user }}</auth-current-user>
    <survey-question rating required hide-success >
        <headline density="cozy" size="small">Ако вече си подал сигнал, колко си доволен от процеса по подаване?</headline>
        <notification information no-icon color="gray" size="small" density="inverted">
            От 1 до 5 звездички, където 1 е малко, а 5 много.
        </notification>
        <rating size="large" align="left" value="{{ form.rating.value }}" name="{{form.rating.html_name}}" id="surveyRating"></rating>
        <notification error size="text-field" hidden></notification>
    </survey-question>
    <div class="reveal">
        <div class="quick" hidden>
            <survey-question name="{{ form.is_easy.html_name }}" checkbox required hide-success {% if form.is_easy.value and form.is_bound %}checked{% endif %}>
                <headline density="cozy" size="small">Лесно ли беше подаването на сигнал?</headline>
                <action-button button type="primary" fill="{% if form.is_easy.value and form.is_bound%}solid{% else %}outlined{% endif %}" color="purple" size="large" align="left" true>Да</action-button>
                <action-button button type="primary" fill="{% if not form.is_easy.value and form.is_bound %}solid{% else %}outlined{% endif %}" color="purple" size="large" align="left" false>Не</action-button>
                <notification error size="text-field" hidden></notification>
            </survey-question>
            <survey-question name="{{ form.is_effective.html_name }}" checkbox required hide-success {% if form.is_effective.value and form.is_bound %}checked{% endif %}>
                <headline density="cozy" size="small">Имаше ли ефект от подадения сигнал?</headline>
                <action-button button type="primary" fill="{% if form.is_effective.value and form.is_bound %}solid{% else %}outlined{% endif %}" color="purple" size="large" align="left" true>Да</action-button>
                <action-button button type="primary" fill="{% if not form.is_effective.value and form.is_bound %}solid{% else %}outlined{% endif %}" color="purple" size="large" align="left" false>Не</action-button>
                <notification error size="text-field" hidden></notification>
            </survey-question>
        </div>
    </div>
    <text-field required size="full" type="textarea" name="{{ form.comment.html_name }}" {% if form.comment.value %}value="{{ form.comment.value }}"{% endif %}>
        Кажи как мина:
        <notification error size="text-field" hidden></notification>
    </text-field>
    <action-button submit type="secondary" fill="solid" color="purple" size="medium" align="left">
        Изпрати
    </action-button>

    {% if not user.is_authenticated %}
    <auth-container-patch>
        <auth-title>Преди да публикуваме</auth-title>
        <auth-subtitle>
            Регистрирай се, за да можем да се свържем с теб, ако си имал проблем.
        </auth-subtitle>
    </auth-container-patch>
    {% endif %}
</survey>