{% load taxonomy %}
{% load user %}
<top-nav>
    {% categories_menu %}
    {% user_controls %}
    <logo align="center-x" action="{% url 'home' %}" color="light" size="large"></logo>
    <action-button link density="compact" type="primary" fill="solid" align="left" color="transparent" size="extrasmall"
                   action="#wip" target="modal">
        Как работи
    </action-button>
    <action-button link type="primary" fill="outlined" align="left" color="white" size="small" action="#addnew"
                   target="modal">
        добави сайт
    </action-button>
    <div style="display: none;">
        <modal id="wip">
            <modal-screen>
                <headline size="large" density="airy" align="center">
                    Как работи Signali.bg
                </headline>
                <text>
                    <p>Signali.bg е каталог на разнородните начини в интернет, чрез които
                        човек може да подаде сигнал за нещо нередно. Signali.bg е инструмент за хората, които виждат
                        проблем и искат той да бъде разрешен. Целта е всеки от тях да намери отговор на въпроса: </p>
                    <notification information color="gray" no-icon size="medium" density="airy">
                        <em>Къде да подам сигнал за "_____", така че да ми обърнат внимание и да не ми отнеме време</em>
                    </notification>
                    <p>
                        Това се случва като:
                    </p>
                    <ul>
                        <li>Хора като теб - потребители в сайта
                            <a href="#addnew" target="modal">добавят и класифицират</a> начините
                            за подаване на сигнал в различни институции, компании и неправителствени
                            организации. Става лесно с формата достъпна
                            от бутоните <em>"Добави сайт"</em>.</li>
                        <li>Хората, които вече са подали сигнал, дават оценка за това дали е имало ефект,
                            дали е било лесно и допълнителни впечатления. Така се сформира "рейтинг" за
                        всеки сайт.</li>
                    </ul>

                    <p>
                        Администраторите на Signali.bg преглеждат добавените сайтове и
                        ги обозначават с ключови думи и снимки. Всеки може да
                        стане администратор, като изпрати имейл до <a href="mailto:info@signali.bg">info@signali.bg</a>, в което
                        да опише защо би бил добър в това.
                    </p>

                    <p>
                        За да се предпази от <a
                            href="https://bg.wikipedia.org/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82_%D1%82%D1%80%D0%BE%D0%BB"><em>интернет
                        „тролове“</em></a>, Signali.bg ограничава честотата, с която могат да се дават оценки, както и
                        изисква регистрация за всяка от тях.
                    </p>

                    <p>
                        Планирано е бъдеще развитие на Signali.bg, след което ще може да се подават сигнали директно от тук.
                    </p>
                </text>
            </modal-screen>
        </modal>
    </div>
</top-nav>