{% load thumbnail %}
{% if user.is_authenticated %}
<login-box action="#settings">
    {% thumbnail user.get_avatar "30x30" crop="center" as img %}
        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"
             alt="Твоята снимка"/>
    {% endthumbnail %}
    <strong>{{ user.get_full_name }}</strong>
    <ul>
        <li><a href="#settings" target="modal" settings-trigger>Настройки</a></li>
        <li><a href="{% url 'security:logout' %}">Изход</a></li>
    </ul>
</login-box>
<div hidden>
    <modal id="settings">
        <headline size="large" density="airy" align="center">Настройки</headline>
        <settings action="{% url 'user:profile' pk=user.id %}">
            <tabs align="center">
                <li><a class="active" href="#generalSettings">Общо</a></li>
                <li><a href="#passwordSettings">Смяна на парола</a></li>
            </tabs>
            <section id="generalSettings" tab>
                <text-field size="full" id="name" type="text" name="name" value="{{ user.get_full_name }}" >
                    Име
                </text-field>
                <text-field size="full" id="email" type="email" value="{{ user.email }}" placeholder="твоята@епоща.бг">
                    имейл адрес
                </text-field>
            </section>
            <section id="passwordSettings" tab hidden>
                <text-field size="full" id="password" type="password" name="name" >
                    Текуща парола
                </text-field>
                <text-field size="full" id="new_password1" type="password" >
                    Нова парола
                </text-field>
                <text-field size="full" id="new_password2" type="password" >
                    Нова парола (пак)
                </text-field>
            </section>
            <action-button button align="left" type="primary" fill="solid" color="red">
                запази
            </action-button>
        </settings>
    </modal>
</div>
{% else %}
<login-box anonymous action="#generic-auth">
    Вход
</login-box>
<div hidden>
    <modal id="generic-auth" auth-modal>
        <headline size="large" density="airy" align="center" for="modal"></headline>
        <auth-modal-patch for="registration">
            <auth-title>Регистрация</auth-title>
        </auth-modal-patch>
        <auth-modal-patch for="login">
            <auth-title>Вход</auth-title>
        </auth-modal-patch>
        <auth type="login">
            <site-auth registration-action="" login-action="" type="login" size="compact" class="half">
                <text-field for="registration" size="full" id="name" name="name" type="text">
                    Име
                </text-field>
                <text-field size="full" id="email" name="email" type="email">
                    имейл адрес
                </text-field>
                <notification information size="small">
                    <p>
                        Easy one click sign in. We won't post anything without your permission.
                    </p>
                </notification>
                <text-field size="full" id="password" type="password">
                    Парола
                </text-field>
                <text-field for="registration" size="full" id="password2" type="password">
                    Парола (пак)
                </text-field>
                <action-button button for="login" type="primary" fill="solid" align="left" color="red">
                    вход
                </action-button>
                <action-button button for="registration" type="primary" fill="solid" align="left" color="red">
                    регистрация
                </action-button>
                <action-button helper align="right" for="login" action="google.com" density="comfortable">
                    Забравена парола?
                </action-button>
            </site-auth>
            <social-auth type="login" size="compact" class="half">
                <headline size="small" density="comfortable">Или чрез Facebook</headline>
                <notification information size="small">
                    <p>Easy one click sign in. We won't post anything without your permission.</p>
                </notification>
                <social-button facebook action="{% url 'security:begin' 'facebook' %}"></social-button>
                <social-button google action="{% url 'security:begin' 'google' %}"></social-button>
            </social-auth>
        </auth>
        <footer for="login">
            <a href="#generic-auth" auth-trigger type="registration">Направи си регистрация</a>
        </footer>
    </modal>
    {# Modal message for alert, success, error #}
    <modal>
        <headline size="large" density="airy" align="center">Регистрация</headline>
        <notification success size="popup">
            <strong>Успешна регистрация</strong>
            <p>Easy one click sign in. We won't post anything without your permission.</p>
        </notification>
    </modal>
</div>
{% endif %}