{% load staticfiles %}{% load settings %}<!doctype html>
<html class="no-js" lang="{% setting 'LANGUAGE_CODE' %}">
    <head>
	    <meta name="robots" content="all" />
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% setting 'title' %}{% endblock %}</title>
        <meta name="description" content="{% setting 'description' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{% static 'app.css' %}" type="text/css">
        <script src="{% static 'head.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 9]>
            Unlucky
        <![endif]-->
        {% block content %}{% endblock %}
        <script src="{% static 'app.js' %}"></script>
        <google-analytics account="{% setting 'google_analytics' %}"></google-analytics>
    </body>
</html>