{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}" ng-app="signali" xmlns="http://www.w3.org/1999/html">
    <head>
	    <meta name="robots" content="all" />
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{% static 'app.css' %}">
        <script src="{% static 'head.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            Unlucky
        <![endif]-->
        <page>
            {% block content %}{% endblock %}
        </page>
        <google-analytics account="{{ site.google_analytics }}"></google-analytics>
        <script src="{% static 'bundle.js' %}"></script>
    </body>
</html>