@import '../styleguide';

forbidden-password {
float: right;
line-height: 40px;
  a{
    font-size: 12px;
    color: $secondary-color-100;
    &:hover{
      color: $secondary-color-hover;
    }
  }
}
