{% extends 'layout.html' %}
{% load restful %}
{% load contactpoint %}
{% load taxonomy %}
{% load settings %}

{% block facebook-image %}{% setting 'facebook_cover_url' %}{% endblock %}

{% block content %}
{% include "_loader.html" %}
<page color="semilight">
    <cover density="airy" src="{% setting 'cover_url' %}">
        {% include '_topnav.html' with request=request %}
        <intro density="airy">
            {% contactpoint_stats %}
            {% searchbar request %}
            {% popular_categories request %}
        </intro>
    </cover>
    <featured>
        {% overview request %}
        {% featured_overview request %}
        {% include "_addnew_prompt.html" with request=request %}
    </featured>
    {% include '_footer.html' with request=request %}
</page>
{% endblock %}
