{% extends 'layout.html' %}
{% load restful %}
{% load contactpoint %}
{% load taxonomy %}
{% block content %}
{% include "_loader.html" %}
<page color="semilight">
    <cover density="airy" src="test/base-header-background.jpg">
        {% include '_topnav.html' with request=request %}
        <intro>
            {% contactpoint_stats %}
            <form action="{% url 'contact-point-list' %}">
                <select-dropdown id="drop2" name="areas" location mainsearch>
                    <label>къде?</label>
                </select-dropdown>
                <select-dropdown id="drop" multiple mainsearch>
                    <label>проблем</label>
                    {% taxonomy_mixed_options request %}
                    <div class="filters">
                        <p>Доп. опции</p>
                        <section>
                            <checkbox id="register" name="register">Регистрация</checkbox>
                            <checkbox id="asdasd" name="asdasdasd" checked>asdasdasd</checkbox>
                        </section>
                    </div>
                </select-dropdown>
                <action-button button type="primary" fill="solid" color="red" size="medium" action="google.com" mainsearch>
                    търси
                </action-button>
            </form>
            {% popular_categories request %}
        </intro>
    </cover>
    <featured>
        {% featured_areas request %}
        {% featured_category request %}
        <donation>
            <p>Този сайт се задвижва благодарение на неговите потребители. Благодарим!</p>
            <action-button link type="primary" fill="outlined" color="white" align="center" action="#addnew" target="modal">
                Добави
            </action-button>
        </donation>
        {% addnew_form request %}
    </featured>
    <footer-wrapper>
        <logo action="home" color="dark" size="medium" align="right"></logo>
        <footer-navigation>
            <footer-column>
                <h5>За проекта</h5>
                <li><a href="#">За нас</a></li>
                <li><a href="#">За контакти</a></li>
                <li><a href="#">За Общество.БГ</a></li>
            </footer-column>
            <footer-column emphasis>
                <h5>Избрани категории</h5>
                <li><a href="#">Бракониерство</a></li>
                <li><a href="#">Престъпления - кражба, насилие </a></li>
                <li><a href="#">Изгубени вещи</a></li>
                <li><a href="#">Пътно-транспортни</a></li>
                <li><a href="#">Градска среда</a></li>
                <li><a href="#">Корупция, измама</a></li>
            </footer-column>
            <footer-column>
                <li><a href="#">Бракониерство</a></li>
                <li><a href="#">Престъпления - кражба, насилие  кражба, насилие </a></li>
                <li><a href="#">Изгубени вещи</a></li>
                <li><a href="#">Пътно-транспортни</a></li>
                <li><a href="#">Градска среда</a></li>
                <li><a href="#">Корупция, измама</a></li>
            </footer-column>
        </footer-navigation>
        <sponsors>
            <h5>Спонсори</h5>
            <li><a href="#"><img src="test/sponsor-geagrants.png" alt=""/></a></li>
            <li><a href="#"><img src="test/sponsor-bluelink.png" alt=""/></a></li>
            <li><a href="#"><img src="test/sponsor-obhstestvo.png" alt=""/></a></li>
        </sponsors>
    </footer-wrapper>
</page>
{% endblock %}