<top-nav>
    <menu>
        Категории
        <menu-column>
            <h2>Граждански</h2>
            <ul>
                <li><a href="#">Бракониерство</a></li>
                <li><a href="#">Престъпления - кражба, насилие...</a></li>
                <li><a href="#">Изгубени вещи</a></li>
                <li><a href="#">Пътно-транспортни</a></li>
                <li><a href="#">Градска среда</a></li>
                <li><a href="#">Корупция, измама</a></li>
            </ul>
        </menu-column>
        <menu-column>
            <h2>Престъпност</h2>
            <ul>
                <li><a href="#">Нарушаване на човешки права</a></li>
                <li><a href="#">Изборни нарушения</a></li>
                <li><a href="#">Хранителна индустрия</a></li>
                <li><a href="#">Тютюнопушене</a></li>
                <li><a href="#">Изгубени вещи</a></li>
                <li><a href="#">Пътно-транспортни</a></li>
            </ul>
        </menu-column>
        <menu-column>
            <h2>Градски</h2>
            <ul>
                <li><a href="#">Бракониерство</a></li>
                <li><a href="#">Престъпления - кражба, насилие...</a></li>
                <li><a href="#">Изгубени вещи</a></li>
                <li><a href="#">Пътно-транспортни</a></li>
                <li><a href="#">Градска среда</a></li>
                <li><a href="#">Корупция, измама</a></li>
            </ul>
        </menu-column>
        <menu-column>
            <h2>Потребителски</h2>
            <ul>
                <li><a href="#">Нарушаване на човешки права</a></li>
                <li><a href="#">Изборни нарушения</a></li>
                <li><a href="#">Хранителна индустрия</a></li>
                <li><a href="#">Тютюнопушене</a></li>
            </ul>
        </menu-column>
    </menu>
    {% if user.is_authenticated %}
    <login-box action="#settings">
        <img src="{{ user.get_avatar }}">
        <strong>{{ user.get_full_name }}</strong>
        <ul>
            <li><a href="#settings" target="modal" settings-trigger>Настройки</a></li>
            <li><a href="{% url 'security:logout' %}">Изход</a></li>
        </ul>
    </login-box>
    {% else %}
    <login-box anonymous action="#auth">
        Вход
    </login-box>
    {% endif %}
    <logo align="center-xy" action="home" color="light" size="large"></logo>
    <div hidden>
        {% if user.is_authenticated %}
        <modal id="settings">
            <headline size="large" density="airy" align="center">Настройки</headline>
            <settings action="{% url 'user:profile' pk=user.id %}">
                <tabs align="center">
                    <li><a class="active" href="#generalSettings">Общо</a></li>
                    <li><a href="#passwordSettings">Смяна на парола</a></li>
                </tabs>
                <section id="generalSettings" tab>
                    <input-field size="full" id="name" type="text" name="name" value="{{ user.get_full_name }}" >
                        Име
                    </input-field>
                    <input-field size="full" id="email" type="email" value="{{ user.email }}" placeholder="твоята@епоща.бг">
                        имейл адрес
                    </input-field>
                </section>
                <section id="passwordSettings" tab hidden>
                    <input-field size="full" id="password" type="password" name="name" >
                        Текуща парола
                    </input-field>
                    <input-field size="full" id="new_password1" type="password" >
                        Нова парола
                    </input-field>
                    <input-field size="full" id="new_password2" type="password" >
                        Нова парола (пак)
                    </input-field>
                </section>
                <action-button button align="left" type="primary" fill="solid" color="red">
                    запази
                </action-button>
            </settings>
        </modal>
        {% else %}
        <modal id="auth">
            <headline size="large" density="airy" align="center" for="login">Вход</headline>
            <headline size="large" density="airy" align="center" for="registration" hidden>Регистрация</headline>
            <auth>
                <site-auth registration-action="" login-action="" type="login" size="compact" class="half">
                    <input-field for="registration" size="full" id="name" name="name" type="text" hidden>
                        Име
                    </input-field>
                    <input-field size="full" id="email" name="email" type="email">
                        имейл адрес
                    </input-field>
                    <notification information size="small">
                        <p>
                            Easy one click sign in. We won't post anything without your permission.
                        </p>
                    </notification>
                    <input-field size="full" id="password" type="password">
                        Парола
                    </input-field>
                    <input-field for="registration" size="full" id="password2" type="password" hidden>
                        Парола (пак)
                    </input-field>
                    <action-button button for="login" type="primary" fill="solid" align="left" color="red">
                        вход
                    </action-button>
                    <action-button button for="registration" type="primary" fill="solid" align="left" color="red" hidden>
                        регистрация
                    </action-button>
                    <action-button forgotten-password for="login" action="google.com">
                        Забравена парола?
                    </action-button>
                </site-auth>
                <social-auth type="login" size="compact" class="half">
                    <headline size="small" density="comfortable">Или чрез Facebook</headline>
                    <notification information size="small">
                        <p>Easy one click sign in. We won't post anything without your permission.</p>
                    </notification>
                    <social-button facebook action="{% url 'security:begin' 'facebook' %}"></social-button>
                    <social-button google action="{% url 'security:begin' 'google' %}"></social-button>
                </social-auth>
            </auth>
            <footer for="login">
                <a href="#" registration-trigger>Направи си регистрация</a>
            </footer>
        </modal>
        {% endif %}
    </div>
</top-nav>