{% extends 'layout.html' %}
{% load restful %}
{% block content %}
    <cover>
        <top-nav>
            <menu></menu>
            <login-prompt></login-prompt>
            <logo></logo>
            <action-button align="center" action="google.com" color="white">
                Login
            </action-button>
            <action-button align="center" action="google.com" color="purple" secondary outlined>
                Other action
            </action-button>
            <search-prompt>
                <location-search></location-search>
                <topic-search></topic-search>
                <standard-button action="{% url 'home' %}" >Test standard</standard-button>
                <checkbox id="asdasd" name="test" checked>Test checkbox</checkbox>
                <radio-button id="rarar" name="test" >Test radio</radio-button>
                <radio-button id="rarar2" name="test" >Test radio</radio-button>
                <radio-button id="rarar3" name="test" >Test radio</radio-button>
                <select-dropdown id="drop" name="dropdown" multiple >
                    <value id="2" selected>corruption</value>
                    <value id="3" >ecology</value>
                    <value id="5" >Красота майна</value>
                    <value id="4" >Чичковите чвеасд асд асд ас дасд сas das dasdsdasdasdссд асд </value>
                    <value id="6" >асдасда сд РАСФДАСФасдасд </value>
                </select-dropdown>
                <select-dropdown id="drop2" name="dropdown2" location></select-dropdown>
            </search-prompt>
        </top-nav>
        <intro>
            <call-to-action>
                <h1>Пoдай сигнал</h1>
                <p>Намери и подай сигнал към над <strong>121</strong> институции в над <strong>23</strong> области.</p>
            </call-to-action>
        </intro>
    </cover>
    <featured>
        :)
    </featured>
    <picker>{{ request.user }}</picker>
{% endblock %}