{% load form %}
{% load location %}
{% load taxonomy %}
<form action="{% url 'contact-point-list' %}" method="get">
    <select-dropdown
            id="searchArea"
            name="{{form.areas.html_name}}"
            theme="light"
            priority="low"
            remote-url="{% url 'area-list-search' %}"
            placeholder="Избери или търси населено място"
            location="simple"
            mainsearch>
        <label>Къде се е случило?</label>
        {% featured_areas form.fields.areas form.cleaned_data.areas%}
    </select-dropdown>
    <select-dropdown
            id="mainsearch"
            theme="light"
            priority="medium"
            placeholder="Избери категории и ключови думи"
            remote-url="{% url 'contact-point-list-search' %}"
            remote-group="Директни съвпадения"
            multiple
            links
            mainsearch>
        <label>Какви категории и ключови думи описват проблема?</label>
        {% taxonomy_mixed_options request form %}
    </select-dropdown>
    <action-button submit type="primary" fill="solid" color="red" size="medium" mainsearch>
        Търси
    </action-button>

    <filters expandable {% if 'filters' in request.params or form.is_detailed %} expanded {% endif %}color="light-gray" theme="light">
        <strong>подробно търсене</strong>
        <em>скрий подробното търсене</em>
        <checkbox id="{{form.is_registration_required.html_name}}"
                  name="{{form.is_registration_required.html_name}}"
                  {% if form|has:form.is_registration_required and not form.is_registration_required.value %} checked {% endif %}
                  value="">
            Не изисква регистрация
        </checkbox>
        <checkbox id="{{form.is_photo_required.html_name}}"
                  name="{{form.is_photo_required.html_name}}"
                  {% if form|has:form.is_photo_required and not form.is_photo_required.value %} checked {% endif %}
                  enlargement="compact"
                  value="">
            Не изисква снимка
            <tip size="small" color="light" position="top" enlargement="compact">
                Ако сложиш тикче, ще се търсят само сайтове на организации,
                които не изискват снимка от мястото на проблема.
            </tip>
        </checkbox>
        <checkbox id="{{form.is_esign_required.html_name}}"
                  name="{{form.is_esign_required.html_name}}"
                  {% if form|has:form.is_esign_required and not form.is_esign_required.value %} checked {% endif %}
                  enlargement="compact"
                  value="">
            Не изисква ел. подпис
            <tip size="small" color="light" position="top" enlargement="compact">
                Ако сложиш тикче, ще се търсят само сайтове на организации,
                които не изискват да подпишеш сигнали с електронен подпис
            </tip>
        </checkbox>
        <checkbox id="{{form.is_name_required.html_name}}"
                  name="{{form.is_name_required.html_name}}"
                  {% if form|has:form.is_name_required and not form.is_name_required.value %} checked {% endif %}
                  value="">
            Не изисква името ти
        </checkbox>
        <checkbox id="{{form.is_email_required.html_name}}"
                  name="{{form.is_email_required.html_name}}"
                  {% if form|has:form.is_email_required and not form.is_email_required.value %} checked {% endif %}
                  value="">
            Не изисква имейл
        </checkbox>
        <checkbox id="{{form.is_pic_required.html_name}}"
                  name="{{form.is_pic_required.html_name}}"
                  {% if form|has:form.is_pic_required and not form.is_pic_required.value %} checked {% endif %}
                  value="">
            Не изисква ЕГН
        </checkbox>
        <checkbox id="{{form.is_address_required.html_name}}"
                  name="{{form.is_address_required.html_name}}"
                  {% if form|has:form.is_address_required and not form.is_address_required.value %} checked {% endif %}
                  value="">
            Не изисква адреса ти
        </checkbox>
        <checkbox id="{{form.is_location_required.html_name}}"
                  name="{{form.is_location_required.html_name}}"
                  {% if form|has:form.is_location_required and not form.is_location_required.value %} checked {% endif %}
                  value="">
            Не изисква локация на сигнала
        </checkbox>
            <checkbox id="{{form.is_anonymous_allowed.html_name}}"
                      name="{{form.is_anonymous_allowed.html_name}}"
                      {% if form.is_anonymous_allowed.value = form.YES %} checked {% endif %}
                      value="{{form.YES}}">
                    Анонимност
            </checkbox>
            <checkbox id="{{form.is_confirmation_issued.html_name}}"
                      name="{{form.is_confirmation_issued.html_name}}"
                      {% if form.is_confirmation_issued.value = form.YES %} checked {% endif %}
                      enlargement="compact"
                      value="{{form.YES}}">
                    Потвърждаване на сигнала
                <tip size="small" color="light" position="top" enlargement="compact">
                    Ако сложиш тикче, ще се търсят само сайтове на организации,
                    които изпращат потвърждение при получен сигнал <em>(пр: имеил или обажндане)</em>
                </tip>
            </checkbox>
            <checkbox id="{{form.is_verifiable.html_name}}"
                      name="{{form.is_verifiable.html_name}}"
                      {% if form.is_verifiable.value = form.YES %} checked {% endif %}
                      enlargement="compact"
                      value="{{form.YES}}">
                Проследимост на сигнала
                <tip size="medium" color="light" position="top" enlargement="compact">
                    Ако сложиш тикче, е се търсят само сайтове на организации,
                    които позволяват да се проследи развитието по сигнала
                </tip>
            </checkbox>
            <checkbox id="{{form.is_final_destination.html_name}}"
                      name="{{form.is_final_destination.html_name}}"
                      {% if form.is_final_destination.value = form.YES %} checked {% endif %}
                      enlargement="compact"
                      value="{{form.YES}}">
                    Краен приемник
                <tip size="medium" color="light" position="top" enlargement="compact">
                    Ако сложиш тикче, ще се търсят само сайтове на организации, които са пряко
                    отговорни за разрешаването на сигнала. Това ще изключи НПО организации и неформална граждански групи
                </tip>
            </checkbox>
            <checkbox id="{{form.is_response_guaranteed.html_name}}"
                      name="{{form.is_response_guaranteed.html_name}}"
                      {% if form.is_response_guaranteed.value = form.YES %} checked {% endif %}
                      value="{{form.YES}}">
                    Гаранция за отговор
            </checkbox>
            <checkbox id="{{form.is_mobile_friendly.html_name}}"
                      name="{{form.is_mobile_friendly.html_name}}"
                      {% if form.is_mobile_friendly.value = form.YES %} checked {% endif %}
                      value="{{form.YES}}">
                    Мобилна версия
            </checkbox>
            <checkbox id="{{form.is_multilingual.html_name}}"
                      name="{{form.is_multilingual.html_name}}"
                      {% if form.is_multilingual.value = form.YES %} checked {% endif %}
                      value="{{form.YES}}">
                    Многоезичност
            </checkbox>
    </filters>
</form>
