{% if separate and not is_first %}
</cards-area>
<cards-area density="compact">
    {% endif %}
{% if separate %}
<header nofloaters card-separator>
    <filtering secondary exception>
        <strong>
            Сайтове
            {% if area %} приемащи сигнали в „{{area}}“
                {% if score %} и {% endif %}
            {% endif %}
            {% if score %} съвпадащи с {% endif %}
        </strong>
        {% if score %}<checkbox readonly>{{score}} от критериите</checkbox>{% endif %}
    </filtering>
</header>
{% endif %}

{% include "_card.html" with point=point request=request %}