{% load restful %}
<cards-area  essential density="negative-compact">
    <header>
        <headline size="large" align="center" density="comfortable">Бърз преглед на сайтовете</headline>
        <tabs align="center">
            <li><a href="#overviewTabVisitedLast" class="active">Последно посетени</a></li>
{#            <li><a href="#overviewTabEffective">Най-ефективни</a></li>#}
{#            <li><a href="#overviewTabAccessible">Най-лесни</a></li>#}
            <li><a href="#overviewTabAddedLast">Последно добавени</a></li>
        </tabs>
    </header>
    <section>
            <section id="overviewTabVisitedLast" class="clearfix" tab>
            {% for point in visitedlast_points|slice:":4" %}
                {% include "contact/_card.html" with point=point request=request %}
            {% endfor %}
            </section>
{#            <section id="overviewTabEffective" class="clearfix" tab hidden>#}
{#            {% for point in effective_points|slice:":4" %}#}
{#                {% include "contact/_card.html" with point=point request=request %}#}
{#            {% endfor %}#}
{#            </section>#}
{#            <section id="overviewTabAccessible" class="clearfix" tab hidden>#}
{#            {% for point in accessible_points|slice:":4" %}#}
{#                {% include "contact/_card.html" with point=point request=request %}#}
{#            {% endfor %}#}
{#            </section>#}
            <section id="overviewTabAddedLast" class="clearfix" tab hidden>
            {% for point in addedlast_points|slice:":4" %}
                {% include "contact/_card.html" with point=point request=request %}
            {% endfor %}
            </section>
    </section>
    <footer>
        <action-button helper inline density="airy" align="right" action="{% url 'contact-point-list' %}">
            <span>или</span>виж всички
        </action-button>
    </footer>
</cards-area>
