{% load location %}
{% load taxonomy %}
<form action="{% url 'contact-point-list' %}" method="get">
    <select-dropdown
            name="{{form.areas.html_name}}"
            theme="light"
            remote-url="{% url 'area-list-search' %}"
            placeholder="Избери или търси населено място"
            location="simple"
            priority="low"
            mainsearch
    >
        <label>Къде се е случило?</label>
        {% featured_areas form.fields.areas %}
    </select-dropdown>
    <select-dropdown
            theme="light"
            priority="medium"
            placeholder="Избери от падащото меню"
            remote-url="{% url 'contact-point-list-search' %}"
            remote-group="Директни съвпадения"
            multiple
            links
            mainsearch>
        <label>Какви категории и ключови думи описват проблема?</label>
        {% taxonomy_mixed_options request form %}
        <div class="filters">
            <p>Допълнителни критерии:</p>
            <section>
                <checkbox
                        id="{{form.is_registration_required.html_name}}"
                        name="{{form.is_registration_required.html_name}}"
                        value=""
                >
                    Не изисква регистрация
                </checkbox>
                <checkbox
                        id="{{form.is_anonymous_allowed.html_name}}"
                        name="{{form.is_anonymous_allowed.html_name}}"
                        value="{{form.YES}}"
                >Позволява анонимност</checkbox>
                <action-button helper density="cozy" align="right" action="{% url 'contact-point-list' %}?filters">
                    <span>... още с</span> подробно търсене
                </action-button>
            </section>
        </div>
    </select-dropdown>
    <action-button submit type="primary" fill="solid" color="red" size="medium" mainsearch>
        търси
    </action-button>
</form>
