{% extends 'layout.html' %}
{% load settings %}
{% load static %}
{% load contactpoint %}
{% load restful %}
{% block content %}
{% include "_loader.html" %}
<page color="light">
<cover density="comfortable" src="{% setting 'cover_url' %}">
    {% include '_topnav.html' with request=request %}
    <intro density="compact">
        <call-to-action align="left" density="compact">
            <h1>Места за подаване на сигнал</h1>
        </call-to-action>
        <breadcrumb>
            <crumb action="{% url 'home' %}">Начало </crumb>
            <crumb>Резултати от търсене</crumb>
        </breadcrumb>
    </intro>
</cover>
<featured>

<filtering primary>
    {% advanced_searchbar request form %}
</filtering>
<cards-area>
    <header>
        <filtering secondary sorting>
            <strong>{{ points.count }} резултата</strong>
            <select-dropdown name="sortingfield" size="small" density="compact"  placeholder="Подреди местата по">
                <value id="-score" selected href="{% url 'contact-point-list' %}{% query sorting=None%}">Съвпадение с търсенето</value>
                <value id="-created_at" href="{% url 'contact-point-list' %}{% query sorting='-created_at'%}">Скоро добавени</value>
                <value id="-rating" href="{% url 'contact-point-list' %}{% query sorting='-rating'%}">Висока оценка</value>
                <value id="-effective" href="{% url 'contact-point-list' %}{% query sorting='-effective'%}">Най-ефективни</value>
                <value id="-easy" href="{% url 'contact-point-list' %}{% query sorting='-easy'%}">Най-лесни за ползване</value>
                <value id="-visited" href="{% url 'contact-point-list' %}{% query sorting='-visited'%}">Последно посетени</value>
            </select-dropdown>
        </filtering>
    </header>
    <cards>
        {% for point in points %}
        {% include "_card.html" with point=point request=request %}
        {% endfor %}
    </cards>
</cards-area>
<cards-area density="compact">
    <header>
        <filtering secondary exception>
            <strong>резултати изключващи: </strong>
            <checkbox readonly>Регистрация</checkbox>
            <checkbox readonly>Снимка</checkbox>
        </filtering>
    </header>
    <cards>
        <card action="gogo">
            <img src="test/logo1.jpg" alt=""/>
            <strong>Държавно Горско Стопанство гр. Враца</strong>
            <card-item type="category">
                <strong>категория</strong>
                <a href="#">Тютюнопушене на обществени места</a>
            </card-item>
            <card-item type="location">
                <strong>местонахождение</strong>
                <a href="#">София - град</a>
            </card-item>
            <card-item type="tags">
                <strong>етикети</strong>
                <a href="google.com">конфликт на интереси</a>
                <a href="google.com">полиция</a>
                <a href="google.com">граница</a>
                <a href="google.com">връзка</a>
            </card-item>
            <card-item type="rating">
                <strong>Рейтинг</strong>
                <rating value="4" size="small" align="left">
                    <a class="comments" href="#">(14 коментара)</a>
                </rating>
            </card-item>
            <action-button link type="secondary" fill="solid" color="red" size="extralarge" action="{{action}}">
                Подаване на сигнал
            </action-button>
        </card>
        <card action="go">
            <img src="test/logo2.png" alt=""/>
            <strong>Гранична полиция</strong>
            <card-item type="category">
                <strong>категория</strong>
                <a href="#">Тютюнопушене на обществени места</a>
            </card-item>
            <card-item type="location">
                <strong>местонахождение</strong>
                <a href="#">София - град</a>
            </card-item>
            <card-item type="tags">
                <strong>етикети</strong>
                <a href="google.com">конфликт на интереси</a>
            </card-item>
            <card-item type="rating">
                <strong>Рейтинг</strong>
                <rating value="1" size="small" align="left">
                    <a class="comments" href="#">(14 коментара)</a>
                </rating>
            </card-item>
            <action-button link type="secondary" fill="solid" color="red" size="extralarge" action="{{action}}">
                Подаване на сигнал
            </action-button>
        </card>
        <card action="go">
            <img src="test/logo3.jpg" alt=""/>
            <strong>Омбудсман Република България</strong>
            <card-item type="category">
                <strong>категория</strong>
                <a href="#">Тютюнопушене на обществени места</a>
            </card-item>
            <card-item type="location">
                <strong>местонахождение</strong>
                <a href="#">София - град</a>
            </card-item>
            <card-item type="tags">
                <strong>етикети</strong>
                <a href="google.com">конфликт на интереси</a>
            </card-item>
            <card-item type="rating">
                <strong>Рейтинг</strong>
                <rating value="3" size="small" align="left">
                    <a class="comments" href="#">(14 коментара)</a>
                </rating>
            </card-item>
            <action-button link type="secondary" fill="solid" color="red" size="extralarge" action="{{action}}">
                Подаване на сигнал
            </action-button>
        </card>
        <card>
            <img src="test/logo4.jpg" alt=""/>
            <strong>Гореща линия за безопасен Интернет</strong>
            <card-item type="category">
                <strong>категория</strong>
                <a href="#">Тютюнопушене на обществени места</a>
            </card-item>
            <card-item type="location">
                <strong>местонахождение</strong>
                <a href="#">София - град</a>
            </card-item>
            <card-item type="tags">
                <strong>етикети</strong>
                <a href="google.com">конфликт на интереси</a>
                <a href="google.com">полиция</a>
                <a href="google.com">граница</a>
                <a href="google.com">връзка</a>
            </card-item>
            <card-item type="rating">
                <strong>Рейтинг</strong>
                <rating value="4" size="small" align="left">
                    <a class="comments" href="#">(14 коментара)</a>
                </rating>
            </card-item>
            <action-button link type="secondary" fill="solid" color="red" size="extralarge" action="{{action}}">
                Подаване на сигнал
            </action-button>
        </card>
    </cards>
    <footer>
        <pagination density="cozy">
            <a href="#">Предишна</a>
            <a class="active" href="#">1</a>
            <a href="#" class="disable">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">Следваща</a>
        </pagination>
    </footer>
</cards-area>

{% include "_addnew_prompt.html" with request=request %}
</featured>
<footer-wrapper>
    <logo action="home" color="dark" size="medium" align="right"></logo>
    <footer-navigation>
        <footer-column>
            <h5>За проекта</h5>
            <li><a href="#">За нас</a></li>
            <li><a href="#">За контакти</a></li>
            <li><a href="#">За Общество.БГ</a></li>
        </footer-column>
        <footer-column emphasis>
            <h5>Избрани категории</h5>
            <li><a href="#">Бракониерство</a></li>
            <li><a href="#">Престъпления - кражба, насилие </a></li>
            <li><a href="#">Изгубени вещи</a></li>
            <li><a href="#">Пътно-транспортни</a></li>
            <li><a href="#">Градска среда</a></li>
            <li><a href="#">Корупция, измама</a></li>
        </footer-column>
        <footer-column>
            <li><a href="#">Бракониерство</a></li>
            <li><a href="#">Престъпления - кражба, насилие  кражба, насилие </a></li>
            <li><a href="#">Изгубени вещи</a></li>
            <li><a href="#">Пътно-транспортни</a></li>
            <li><a href="#">Градска среда</a></li>
            <li><a href="#">Корупция, измама</a></li>
        </footer-column>
    </footer-navigation>
    <sponsors>
        <h5>Спонсори</h5>
        <li><a href="#"><img src="test/sponsor-geagrants.png" alt=""/></a></li>
        <li><a href="#"><img src="test/sponsor-bluelink.png" alt=""/></a></li>
        <li><a href="#"><img src="test/sponsor-obhstestvo.png" alt=""/></a></li>
    </sponsors>
    <p>Easy one click sign in. We won't post anything without your permission.</p>
</footer-wrapper>
</page>
{% endblock %}
