{% extends 'layout.html' %}
{% load settings %}
{% load static %}
{% load contactpoint %}
{% load restful %}

{% block title %}{% block facebook-title %}Търсене на сайтове за подаване на сигнал{% endblock %} — {{ block.super }}{% endblock %}
{% block url %}{% block facebook-url %}{{request.get_full_path}}{% endblock %}{% endblock %}

{% block content %}
{% include "_loader.html" %}
<page color="semilight">
<cover density="comfortable" src="{% setting 'cover_url' %}">
    {% include '_topnav.html' with request=request %}
    <intro density="compact">
        <call-to-action align="left" density="compact">
            <h1>Сайтове за подаване на сигнал</h1>
        </call-to-action>
        <breadcrumb>
            <crumb action="{% url 'home' %}">Начало </crumb>
            <crumb>Резултати от търсене</crumb>
        </breadcrumb>
    </intro>
</cover>
<featured>
{% advanced_searchbar request form %}
<cards-area density="compact">
    <header>
        <filtering secondary sorting>
            <strong>{{ total }} резултата</strong>
            <select-dropdown links name="sortingfield" size="small" density="compact" placeholder="Подреди сайтовете по" placeholder-type="vivid">
                <value
                       id="-score"
                       href="{% url 'contact-point-list' %}{% query sorting=None start=0%}"
                       {% if sorting == "-score" %}current{% endif %}>Съвпадащи с търсенето</value>
                <value
                       id="-rating"
                       href="{% url 'contact-point-list' %}{% query sorting='-rating' start=0%}"
                       {% if sorting == "-rating" %}current{% endif %}>Високо оценени</value>
                <value
                       id="-effectiveness"
                       href="{% url 'contact-point-list' %}{% query sorting='-effectiveness' start=0%}"
                       {% if sorting == "-effectiveness" %}current{% endif %}>Най-ефективни</value>
                <value
                       id="-accessibility"
                       href="{% url 'contact-point-list' %}{% query sorting='-accessibility' start=0%}"
                       {% if sorting == "-accessibility" %}current{% endif %}>Най-лесни за ползване</value>
                <value
                       id="-last_visited_at"
                       href="{% url 'contact-point-list' %}{% query sorting='-last_visited_at' start=0%}"
                       {% if sorting == "-last_visited_at" %}current{% endif %}>Последно посетени</value>
                <value
                       id="-created_at"
                       href="{% url 'contact-point-list' %}{% query sorting='-created_at' start=0%}"
                       {% if sorting == "-created_at" %}current{% endif %}>Скоро добавени</value>
            </select-dropdown>
        </filtering>
    </header>
    {% for point in points %}
        {% contactpoint_listing_entry request points point forloop.counter form %}
    {% endfor %}

    {% if pages %}
    <footer>
        <pagination density="cozy">
            {% if pages.has_previous_page %}
            <a href="{% url 'contact-point-list' %}{% query start=pages.previous_page.start limit=pages.previous_page.limit %}">Предишна</a>
            {% endif %}
            {% for page in pages %}
                {% if page.is_current %}
                <a class="active" href="#">{{page.number}}</a>
                {% else %}
                    <a href="{% url 'contact-point-list' %}{% query start=page.start limit=page.limit %}">{{page.number}}</a>
                {% endif %}
            {% endfor %}
{#            <a href="#" class="disable">2</a>#}
            {% if pages.has_next_page %}
            <a href="{% url 'contact-point-list' %}{% query start=pages.next_page.start limit=pages.next_page.limit %}">Следваща</a>
            {% endif %}
        </pagination>
    </footer>
    {% endif %}
</cards-area>
{% include "_addnew_prompt.html" with request=request %}
</featured>
{% include '_footer.html' with request=request %}
</page>
{% endblock %}
