{% extends 'layout.html' %}
{% load settings %}
{% load i18n %}
{% load static %}
{% load contactpoint %}
{% load restful %}

{% block title %}{% block facebook-title %}Търсене на сайтове за подаване на сигнал{% endblock %} — {{ block.super }}{% endblock %}
{% block url %}{% block facebook-url %}{{request.get_full_path}}{% endblock %}{% endblock %}

{% block content %}
{% include "_loader.html" %}
<page color="semilight">
<cover density="airy" src="{% setting 'cover_url' %}">
    {% include '_topnav.html' with request=request %}
    <intro density="cozy">
        {% advanced_searchbar request form %}
    </intro>
</cover>
<cards-area>
    {% if points.count %}
    <header>
        <filtering secondary sorting>
            <strong>
                {% if is_loose_search  %}
                {% blocktrans count page_total=points.count %}{{ total }} сайт близък до търсеното{% plural %}{{ total }} сайта близки до търсеното{% endblocktrans %}
                {% else %}
                Може да подадеш сигнал в {% blocktrans count page_total=points.count %}{{ total }} сайт{% plural %}{{ total }} сайтa{% endblocktrans %}
                {% endif %}
            </strong>
            <select-dropdown links name="sortingfield" size="small" density="compact" placeholder="Подреди сайтовете по" placeholder-type="vivid">
                <value
                       id="-score"
                       href="{% url 'contact-point-list' %}{% query sorting=None start=0%}"
                       {% if sorting == "-score" %}current{% endif %}>Съвпадащи с търсенето</value>
                <value
                       id="-rating"
                       href="{% url 'contact-point-list' %}{% query sorting='-rating' start=0%}"
                       {% if sorting == "-rating" %}current{% endif %}>Високо оценени</value>
                <value
                       id="-effectiveness"
                       href="{% url 'contact-point-list' %}{% query sorting='-effectiveness' start=0%}"
                       {% if sorting == "-effectiveness" %}current{% endif %}>Най-ефективни</value>
                <value
                       id="-accessibility"
                       href="{% url 'contact-point-list' %}{% query sorting='-accessibility' start=0%}"
                       {% if sorting == "-accessibility" %}current{% endif %}>Най-лесни за ползване</value>
                <value
                       id="-last_visited_at"
                       href="{% url 'contact-point-list' %}{% query sorting='-last_visited_at' start=0%}"
                       {% if sorting == "-last_visited_at" %}current{% endif %}>Последно посетени</value>
                <value
                       id="-created_at"
                       href="{% url 'contact-point-list' %}{% query sorting='-created_at' start=0%}"
                       {% if sorting == "-created_at" %}current{% endif %}>Скоро добавени</value>
            </select-dropdown>
        </filtering>
    </header>
    {% endif %}
    {% if not points.count %}
        <notification information color="white" density="comfortable" size="large">
            <h5>Не са намерени сайтове за подаване на сигнал съвпадащи с търсенето</h5>
            <p>Ако знаеш точно за такъв сайт, помогни на хората търсещи същото <a href="#addnew" target="modal">и го добави</a>.
                Алтернативно, ако искаш да продължиш с търсенето, пробвай да смениш някой от критериите или намалиш броя им.
            </p>
        </notification>
    {% endif %}
    {% if is_loose_search and points.zero_score and not term%}
    <notification error color="white" size="medium">
        <p>Няма съвпадения с нито един от търсените критерии. Ако знаеш за сайт, който съвпада, можеш <a href="#addnew" target="modal">да го добавиш</a>.
            По-долу са изредени сайтове, които могат да ти помогнат за друг проблем.</p>
    </notification>
    {% elif is_loose_search %}
        <notification error color="white" size="medium">
            <h5>Само частични съвпадения</h5>
            <p>Сайтовете по-долу съвпадат само с част от търсеното. Ако знаеш точно за такъв сайт, помогни на хората търсещи същото <a href="#addnew" target="modal">и го добави</a>. Алтернативно, ако искаш точни съвпадения, пробвай с избор на по-малко или различни критерии.  </p>
        </notification>
    {% endif %}
    {% for point in points %}
        {% contactpoint_listing_entry request points point forloop.counter form is_loose_search %}
    {% endfor %}

    {% if pages %}
    <footer>
        <pagination density="cozy">
            {% if pages.has_previous_page %}
            <a href="{% url 'contact-point-list' %}{% query start=pages.previous_page.start limit=pages.previous_page.limit %}">Предишна</a>
            {% endif %}
            {% for page in pages %}
                {% if page.is_current %}
                <a class="active" href="#">{{page.number}}</a>
                {% else %}
                    <a href="{% url 'contact-point-list' %}{% query start=page.start limit=page.limit %}">{{page.number}}</a>
                {% endif %}
            {% endfor %}
{#            <a href="#" class="disable">2</a>#}
            {% if pages.has_next_page %}
            <a href="{% url 'contact-point-list' %}{% query start=pages.next_page.start limit=pages.next_page.limit %}">Следваща</a>
            {% endif %}
        </pagination>
    </footer>
    {% endif %}
</cards-area>
{% include "_addnew_prompt.html" with request=request %}
{% include '_footer.html' with request=request %}
</page>
{% endblock %}
