@import '../styleguide';
$primary-color: $secondary-color-40;
$margin: 0;
@import '../../node_modules/loaders.css/src/animations/ball-scale-multiple';

loader {
  display: block;
  z-index: 1;
  font-size: 10px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  .loader {
    position: absolute;
    top:50%;
    left:50%;
    z-index: 1;
  }
  svg {
    width: 160px;
    height: 20px;
    margin-top:-10px;
    margin-left: -115px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    .circle {
      fill: $secondary-color;
    }
    path {
      fill: $main-color;
    }
  }
}