@import '../styleguide';

crumb {
    display: inline-block;
    position: relative;
    padding: 0 0 0 17px;
    .icon {
        width: 5px;
        height: 8px;
        display: block;
        position: absolute;
        left: 5px;
        bottom: 12px;
        svg {
            width: 100%;
            height: 100%;
            fill: $white;
        }
    }
    .dropdown {
        display: inline-block;
        position: relative;
        margin-top: -17px;
        bottom: -17px;
    }
    a {
        @extend %small-font;
        color: $white;

    }
    &:first-child {
        padding: 0;
        .icon {
            display: none;
        }
    }
    .no-action {
        color: $main-color-40;
        pointer-events: none;
        cursor: default;
        @extend %small-font;
        .icon svg {
            fill: $main-color-40;
        }
    }
}

@media screen and (max-width: $phone-width), screen and (max-device-width: $phone-width) {
    crumb { display: block;
        a, .icon {
            display: none;
        }
        li {
            display: block;
            text-align: center;
            .dropdown {
                display: inline-block;
            }
        }
    }
}