@import '../styleguide';

crumb {
  display: inline-block;
  position: relative;
  padding: 0 0 0 17px;
  &:before {
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: 5px;
    bottom: 12px;
    content: '';
    border-right: 1px solid $body-text-color;
    border-top: 1px solid $body-text-color;
    @include rotate (45)
  }
  a {
    @extend %popup-font;
    color: $body-text-color;

  }
  &:first-child{
    padding: 0;
      &:before {
        display: none;
      }
  }
  &:last-child {
    &:before{
      border-color: $main-color-40;
    }
    a {
      color: $main-color-40;
      pointer-events: none;
      cursor: default;
    }
  }
}