@import '../styleguide';
rating {
  padding: 7px 0;
  display: block;
  a {
    line-height: 14px;
    position: relative;
    top: -3px;
    color: $grey-color-100 !important;
    &:hover {
      color: $secondary-color-100;
    }
  }
  &[size="medium"] {
      padding: 0;
  }
}