@import '../styleguide';

headline {
  &[size='large'] h3{
    @extend %headilme-font;
    padding: 25px 0 17px 0;
  }
  .medium h3{}
  .small h3{}
  &[align="left"]{
    text-align: left;
  }
  &[align="right"]{
    text-align: right;
  }
  &[align="center"]{
    text-align: center;
  }
}