@import '../styleguide';

/*How To Use*/
//<headline size="small/medium/large" density="airy/comfortable/cozy/compact" align="left/center/right"></headline>
//For each size ther is diferent density

headline {
    font-size: 10px;
    display: block;
    position: relative;
    &[size='large'] {
        &[density="airy"] {
            padding: em(22) 0 em(36) 0;
        }
        &[density="comfortable"] {
            padding: em(18) 0 em(20) 0;
        }
        &[density="compact"] {
            padding: em(4) 0 em(30) 0;
        }
        h3 {
            @extend %headilme-font;
        }
        p {
            @extend %bodytext-font;
            line-height: em(24, 14);
            padding: 0;
            margin: 0 0 em(4) 0;
            color: $grey-color-120;
        }
    }
    &[size='medium'] {
        padding: em(29) 0 em(18) 0;
        h3 {
            @extend %headilme-font;
            font-size: 24px;
            line-height: 1.1em;
        }
    }
    &[size='small'] {
        &[density="airy"] {
            padding: em(4) 0 em(13);
        }
        &[density="comfortable"] {
            padding: em(10) 0 em(7);
        }
        &[density="cozy"] {
            padding: 0 0 em(11) 0;
        }
        &[density="compact"] {
            padding: em(15) 0 em(8) 0;
            display: block;
            border-bottom: 1px solid $grey-color-60;
            margin: em(10) 0;
            h3 {
                font-weight: 600;
            }
        }
        &[density="tight"] {
            padding: 0 0 em(7);
            h3 {
                font-weight: 600;
            }
        }
        h3 {
            @extend %bodytext-large-font;
        }
    }
    &[size='extrasmall'] {
        h3 {
            @extend %bodytext-font;
            font-weight: 600;
        }
        &[density="airy"] {
            padding: 0;
        }
        &[density="comfortable"] {
            padding: 0;
        }
        &[density="cozy"] {
            padding: em(13) 0 em(7  ) 0;
        }
        &[density="compact"] {
            padding: 0;
        }
    }

    &[align="left"] {
        text-align: left;
    }
    &[align="right"] {
        text-align: right;
    }
    &[align="center"] {
        text-align: center;
    }
}

@media screen and (max-width: $tablet-portrait-width), screen and (max-device-width: $tablet-portrait-width) {
    headline {
        font-size: 9px;
    }
}

@media screen and (max-width: $phone-width), screen and (max-device-width: $phone-width) {
    headline {
        font-size: 8px;
    }
}
