@import '../styleguide';

tabs {
    display: block;
    padding: 0 0 20px;
    font-size: 10px;
    & > ul {
        font-size: 0;
        display: block;
        list-style-type: none;
        position: relative;
        margin: 0;
        padding: 0;
        &.align-left {
            text-align: left;
        }
        &.align-center {
            text-align: center;
        }
        &.align-right {
            text-align: right;
        }
        li {
            display: inline-block;
            a {
                display: block;
                padding: 0 15px;
                @extend %large-radius, %bodytext-font;
                line-height: 30px;
                font-weight: 600;
                color: $body-text-color;
                background: $white;
                &:hover,
                &:focus {
                    background: $grey-color-60;
                }
                &.active {
                    background: $main-color-100;
                    color: $white;
                    pointer-events: none;
                    cursor: default;
                }
                &:active {
                    background: $main-color-60;
                    color: $white;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait-width), screen and (max-device-width: $tablet-portrait-width) {
    tabs {
        & > ul li {
            padding: 5px 0;
            a {
                line-height: 26px;
            }
        }
    }
}
