{% extends 'layout.html' %}
{% load notification %}
{% load contactpoint %}
{% load static %}
{% load restful %}
{% load thumbnail %}

{% block content %}
    {% include "_loader.html" %}
    <page color="light">
        <cover density="comfortable" src="{{ point.cover.url }}">
            {% include '_topnav.html' with request=request %}
            <intro density="compact" social-insights>
                <call-to-action align="left" density="compact">
                    <h1>{{ point.title }}</h1>
                </call-to-action>
                <breadcrumb>
                    <crumb action="{% url 'home' %}">Начална страница</crumb>
                    <crumb action="{% url 'contact-point-list' %}{% query categories=point.category.pk %}">{{ point.category.title }}</crumb>
                    <crumb>{{ point.title }}</crumb>
                </breadcrumb>
                <social-insights density="airy" align="right" static>
                    <section class="facebook">
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=593828257295428";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count"></div>
                    </section>
                    <section class="twitter">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-url="http://signali.bg"
                           data-via="signali">Tweet</a>
                        <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');</script>
                    </section>
                </social-insights>
            </intro>
        </cover>
        <featured>
            <resume>
                <article>
                    <h4>Какво да очаквам от сайта за подаване на сигнал?</h4>
                    {{ point.description | safe }}
                </article>
                <features>
                    <headline size="small" density="tight">Характеристики</headline>
                    {% if point.is_anonymous_allowed == point.YES %}
                    <features-item check>Анонимни сигнали</features-item>
                    {% endif %}
                    {% if not point.is_registration_required %}
                    <features-item check>Не изисква регистрация</features-item>
                    {% endif %}
                    {% if not point.is_photo_required %}
                    <features-item check>Не изисква снимка</features-item>
                    {% endif %}
                    {% if not point.is_esign_required %}
                    <features-item check>Не изисква ел. подпис</features-item>
                    {% endif %}
                    {% if not point.is_name_required %}
                    <features-item check>Не изисква името ви</features-item>
                    {% endif %}
                    {% if not point.is_email_required %}
                    <features-item check>Не изисква имейл</features-item>
                    {% endif %}
                    {% if not point.is_address_required %}
                    <features-item check>Не изисква адресът ти</features-item>
                    {% endif %}
                    {% if not point.is_address_required %}
                    <features-item check>Не изисква локация на сигнала</features-item>
                    {% endif %}
                    {% if not point.is_registration_required %}
                    <features-item check>Не изисква регистрация</features-item>
                    {% endif %}
                    {% if point.is_multilingual == point.YES %}
                    <features-item check>Многоезичност</features-item>
                    {% endif %}
                    {% if point.is_response_guaranteed == point.YES %}
                    <features-item check>Гараниран отговор</features-item>
                    {% endif %}
                    {% if point.is_mobile_friendly == point.YES %}
                    <features-item check>Мобилна версия</features-item>
                    {% endif %}
                    {% if point.is_final_destination == point.YES %}
                    <features-item check>Крайна точка за сигнала</features-item>
                    {% endif %}
                    {% if point.is_verifiable == point.YES %}
                    <features-item check>Позволява следене на прогреса</features-item>
                    {% endif %}
                    {% if point.is_confirmation_issued == point.YES %}
                    <features-item check>Потвърждение на сигнала</features-item>
                    {% endif %}
                </features>
                <card resume>
                    {% if point.preview %}
                        {% thumbnail point.preview "280x112" crop="center" as img %}
                            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="Снимка от сайта на {{ point.title }}"/>
                        {% endthumbnail %}
                    {% else %}
                        <p class="img nopreview"></p>
                    {% endif %}
                    <card-item type="rating">
                        <rating align="left" value="{{ point.rating }}" href="#feedback">
                            <a class="comments" href="#feedbacklist">({{point.feedback.count}} оценки)</a>
                        </rating>
                    </card-item>
                    {% subscribeform request point %}
                    <action-button link
                                   type="primary"
                                   fill="solid"
                                   color="red"
                                   size="gigalarge"
                                   align="center"
                                   {% if request.user.is_authenticated %}
                                        action="{{point.url}}" target="_blank"
                                   {% else %}
                                        action="#leavePrompt" target="modal"
                                        auth-removes-modal
                                        auth-change-attrs='["action", "target"]'
                                        auth-action="{{point.url}}" auth-target="_blank"
                                   {% endif %}>
                        Към мястото
                    </action-button>
                    <p>или ако имаш вече опит с „{{ point.title }}“ сподели го:</p>
                    <action-button link type="primary" fill="outlined" color="purple" size="large" align="center" action="#feedback">
                        Кажи ни как мина
                    </action-button>
                </card>
            </resume>
            {% feedback_list request point %}
            {% survey request point %}
            {% include "_addnew_prompt.html" %}
        </featured>
        <footer-wrapper>
            <logo action="home" color="dark" size="medium" align="right"></logo>
            <footer-navigation>
                <footer-column>
                    <h5>За проекта</h5>
                    <li><a href="#">За нас</a></li>
                    <li><a href="#">За контакти</a></li>
                    <li><a href="#">За Общество.БГ</a></li>
                </footer-column>
                <footer-column emphasis>
                    <h5>Избрани категории</h5>
                    <li><a href="#">Бракониерство</a></li>
                    <li><a href="#">Престъпления - кражба, насилие </a></li>
                    <li><a href="#">Изгубени вещи</a></li>
                    <li><a href="#">Пътно-транспортни</a></li>
                    <li><a href="#">Градска среда</a></li>
                    <li><a href="#">Корупция, измама</a></li>
                </footer-column>
                <footer-column>
                    <li><a href="#">Бракониерство</a></li>
                    <li><a href="#">Престъпления - кражба, насилие кражба, насилие </a></li>
                    <li><a href="#">Изгубени вещи</a></li>
                    <li><a href="#">Пътно-транспортни</a></li>
                    <li><a href="#">Градска среда</a></li>
                    <li><a href="#">Корупция, измама</a></li>
                </footer-column>
            </footer-navigation>
            <sponsors>
                <h5>Спонсори</h5>
                <li><a href="#"><img src="test/sponsor-geagrants.png" alt=""/></a></li>
                <li><a href="#"><img src="test/sponsor-bluelink.png" alt=""/></a></li>
                <li><a href="#"><img src="test/sponsor-obhstestvo.png" alt=""/></a></li>
            </sponsors>
        </footer-wrapper>
    </page>
{% endblock %}
