{% extends 'layout.html' %}
{% load contactpoint %}
{% load static %}
{% load restful %}
{% load thumbnail %}

{% block content %}
    <loader target="page"></loader>
    <page color="light">
        <cover density="comfortable" src="{{ point.cover.url }}">
            {% include '_topnav.html' with request=request %}
            <intro density="comfortable">
                <call-to-action align="left" density="compact">
                    <h1>{{ point.title }}</h1>
                </call-to-action>
                <breadcrumb>
                    <crumb action="{% url 'home' %}">Начална страница</crumb>
                    <crumb action="{% url 'contact-point-list' %}{% query categories=point.category.pk %}">{{ point.category.title }}</crumb>
                    <crumb>{{ point.title }}</crumb>
                </breadcrumb>
            </intro>
        </cover>
        <featured>
            <resume>
                <article>
                    {{ point.description }}
                </article>
                <list>
                    <list-item check>Мултиезичност</list-item>
                    <list-item check>Изисква регистрация</list-item>
                    <list-item check>Анонимност</list-item>
                    <list-item check>Гаранция за отговор</list-item>
                    <list-item check>Верификация на сигнал</list-item>
                    <list-item check>Потвърждаване на сигнал</list-item>
                </list>
                <card resume action="">
                    {% if point.preview %}
                        {% thumbnail point.preview "280x123" crop="center" as img %}
                            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="Снимка от сайта на {{ point.title }}"/>
                        {% endthumbnail %}
                    {% else %}
                        <p class="img nopreview"></p>
                    {% endif %}
                    <rating align="left">
                        <star type="full"></star>
                        <star type="full"></star>
                        <star type="full"></star>
                        <star type="half"></star>
                        <star type="empty"></star>
                        <a class="comments" href="#">(14 коментара)</a>
                    </rating>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </card>
            </resume>
            {% feedback_list request point %}
            {% survey request point %}
            <donation>
                <p>Този сайт се задвижва благодарение на неговите потребители. Благодарим!</p>
                <action-button link type="primary" fill="outlined" color="white" align="center" action="#addnew"
                               target="modal">
                    Добави
                </action-button>
                {% addnew_form request %}
            </donation>
        </featured>
        <footer-wrapper>
            <logo action="home" color="dark" size="medium" align="right"></logo>
            <footer-navigation>
                <footer-column>
                    <h5>За проекта</h5>
                    <li><a href="#">За нас</a></li>
                    <li><a href="#">За контакти</a></li>
                    <li><a href="#">За Общество.БГ</a></li>
                </footer-column>
                <footer-column emphasis>
                    <h5>Избрани категории</h5>
                    <li><a href="#">Бракониерство</a></li>
                    <li><a href="#">Престъпления - кражба, насилие </a></li>
                    <li><a href="#">Изгубени вещи</a></li>
                    <li><a href="#">Пътно-транспортни</a></li>
                    <li><a href="#">Градска среда</a></li>
                    <li><a href="#">Корупция, измама</a></li>
                </footer-column>
                <footer-column>
                    <li><a href="#">Бракониерство</a></li>
                    <li><a href="#">Престъпления - кражба, насилие кражба, насилие </a></li>
                    <li><a href="#">Изгубени вещи</a></li>
                    <li><a href="#">Пътно-транспортни</a></li>
                    <li><a href="#">Градска среда</a></li>
                    <li><a href="#">Корупция, измама</a></li>
                </footer-column>
            </footer-navigation>
            <sponsors>
                <h5>Спонсори</h5>
                <li><a href="#"><img src="test/sponsor-geagrants.png" alt=""/></a></li>
                <li><a href="#"><img src="test/sponsor-bluelink.png" alt=""/></a></li>
                <li><a href="#"><img src="test/sponsor-obhstestvo.png" alt=""/></a></li>
            </sponsors>
        </footer-wrapper>
    </page>
{% endblock %}