@import '../styleguide';

$footer-background: #404166;

modal {
    max-width: 700px;
    position: relative;
    display: block;
    margin: 20px auto;
    &[size="medium"] {
        max-width: 520px;
    }
    .modal-box {
        background: $white;
        @extend %small-radius;
        position: relative;
        .padder {
            padding: 0 40px 40px;
        }
        .close-modal {
            width: 34px;
            height: 34px;
            display: block;
            @extend %circle;
            position: absolute;
            right: -44px;
            top: 0;
            svg {
                width: 100%;
                height: 100%;
                fill: $white;
            }
            &:hover svg {
                fill: rgba($white, .8);
            }
        }
    }
    a {
        cursor: pointer;
    }
    .footwrap {
        position: relative;
    }
    footer {
        margin: 0 40px 20px;
        position: relative;
        padding: 0 0 20px;
        &[for="login"] {
            margin: 0;
            padding: 0;
            background: $footer-background;
            border-radius: 0 0 4px 4px;
            line-height: 60px;
            font-size: 14px;
            text-align: center;
            a {
                color: $white;
                &:hover {
                    text-decoration: underline;
                    color: rgba($white, .8);
                }
            }
        }
    }
}

[modal-hider] {
    display: none;
}

modal-screen {
    display: block;
}