{% load settings %}
{% load thumbnail %}
{% if user.is_authenticated %}
<login-box action="#settings">
    {% thumbnail user.get_avatar "30x30" crop="center" as img %}
        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"
             alt="Твоята снимка"/>
    {% endthumbnail %}
    <strong settings-name>{{ user.get_full_name }}</strong>
    <ul>
        <li><a href="#settings" target="modal" settings-trigger>Настройки</a></li>
        <li><a href="{% url 'security:logout' %}">Изход</a></li>
    </ul>
</login-box>
<div modal-hider>
    <modal id="settings">
        <modal-screen>
            <headline size="large" density="airy" align="center">Настройки</headline>
            <settings action="{% url 'user:profile' pk=user.id %}">
                <bubble size="standart" color="white" type="success" success density="compact" hidden class="animated fadeInUp">
                    Профилът ти е обновен. Спокойно може да продължиш в сайта.
                </bubble>
                <tabs align="center">
                    <li><a class="active" href="#generalSettings">Общи</a></li>
                    <li><a href="#passwordSettings">Смяна на парола</a></li>
                </tabs>
                <section id="generalSettings" tab>
                    <text-field size="full" id="fullname" name="fullname" type="text" value="{{ user.get_full_name }}" required>
                        Име
                        <notification error size="text-field" hidden></notification>
                    </text-field>
                    <text-field size="full" id="email" name="email" type="email" value="{{ user.email }}" placeholder="твоята@епоща.бг" required>
                        имейл адрес
                        <notification error size="text-field" hidden></notification>
                    </text-field>
                </section>
                <section id="passwordSettings" tab hidden>
                    {% comment %}
                    <text-field size="full" id="password" type="password" name="password" >
                        Текуща парола
                    </text-field>
                    {% endcomment %}
                    <text-field size="full" id="new_password1" name="new_password1" type="password" minlength="6">
                        Нова парола
                        <notification error size="text-field" hidden></notification>
                    </text-field>
                    <text-field size="full" id="new_password2" name="new_password2" type="password" validate-equalto-form-sibling="#new_password1" validate-validate-if-empty="true">
                        Нова парола (пак)
                        <notification error size="text-field" hidden></notification>
                    </text-field>
                </section>
                <action-button submit align="left" type="primary" fill="solid" color="red">
                    запази
                </action-button>
            </settings>
        </modal-screen>
    </modal>
</div>
{% else %}
<login-box anonymous action="#generic-auth">
    Вход
</login-box>
<div modal-hider>
    <modal id="generic-auth" auth-modal-container auth-container="main" type="login">
        <modal-screen>
            <headline size="large" density="airy" align="center" for="modal"></headline>
            <auth-container-patch for="registration">
                <auth-title>Регистрация</auth-title>
            </auth-container-patch>
            <auth-container-patch for="login">
                <auth-title>Вход</auth-title>
            </auth-container-patch>
            <auth-container-patch for="reset">
                <auth-title>Забравена парола</auth-title>
            </auth-container-patch>
            <auth type="login" complete-action="{% url 'security:complete' 'email' %}" reset-action="{% url 'user:password-reset'%}" auth-replace="login-box" divided>
                <site-auth registration-action="" login-action="" type="login" size="compact" class="half">
                    <input type="hidden" name="auth_type" value="login"/>
                    <notification error size="nano" density="comfortable" for="form" hidden>Прегледайте грешките по-долу</notification>
                    <bubble size="standart" color="white" auth-type="login" type="success" density="compact" hidden class="animated fadeInUp">
                        Успешно влезе в акаунта си.
                    </bubble>
                    <bubble size="standart" color="white" auth-type="reset" type="success" density="compact" hidden class="animated fadeInUp">
                        Получи нов имейл.
                    </bubble>
                    <text-field for="registration" validate-group="registration" size="full" id="fullname" name="fullname" type="text" required>
                        Име
                        <notification error size="text-field" hidden></notification>
                    </text-field>
                    <div for="reset">
                        <notification size="small" density="compact" success hidden>
                            <p>Готово! Получи имейл.</p>
                        </notification>
                        <notification size="small" density="comfortable" information no-icon hidden>
                            <p>Кликни на линка в имейла.
                                Чрез него ще смениш паролата си.
                                След това можеш да се върнеш тук и да натиснеш <a auth-trigger type="login">вход &raquo;</a>
                            </p>
                            <p>Ако има проблем прбовай отново:</p>
                        </notification>
                    </div>
                    <text-field size="full" id="email" validate-group='["registration", "login", "reset"]' name="email" type="email" state="information" required>
                        имейл адрес
                        <notification error size="text-field" hidden></notification>
                        <notification information size="text-field" for="registration">
                            <p>
                                Няма да пращаме нежелани съоб&shy;ще&shy;ния
                            </p>
                        </notification>
                        <notification information size="text-field" for="reset">
                            <p>
                                Ще получиш имейл на този адрес с линк за промяна на паролата.
                            </p>
                        </notification>
                    </text-field>
                    <text-field not-for="reset" size="full" id="new_password1" name="new_password1" validate-name="password" validate-group='["registration", "login"]' type="password" required minlength="6">
                        Парола
                        <notification error size="text-field" hidden></notification>
                    </text-field>
                    <text-field for="registration" id="new_password2" name="new_password2" validate-group="registration" size="full" type="password" required validate-equalto-form-sibling="#new_password1">
                        Парола (пак)
                        <notification error size="text-field" hidden></notification>
                    </text-field>
                    <action-button submit for="login" type="primary" fill="solid" align="left" color="red">
                        вход
                    </action-button>
                    <action-button submit for="reset" type="primary" fill="solid" align="left" color="red">
                        изпрати
                    </action-button>
                    <action-button submit for="registration" type="primary" fill="solid" align="left" color="red">
                        регистрация
                    </action-button>
                    {% comment %}
                    {% endcomment %}
                    <action-button helper auth-trigger align="right" for="registration" type="login" density="comfortable">
                        <span>или</span> вход
                    </action-button>
                    <action-button helper auth-trigger align="right" for="reset" type="login" density="comfortable">
                        <span>или</span> вход
                    </action-button>
                    <action-button helper auth-trigger align="right" for="login" type="reset" density="comfortable">
                        забравена пароола
                    </action-button>
                </site-auth>
                <social-auth
                        type="login"
                        size="compact"
                        class="half"
                        facebook-app="{% setting 'SOCIAL_AUTH_FACEBOOK_KEY' %}"
                        facebook-scope='{% setting_json "SOCIAL_AUTH_FACEBOOK_SCOPE" %}'
                        server-gateway="{% url 'security:token' backend='facebook' %}"
                >
                    <headline size="small" density="comfortable">Или влез чрез Facebook</headline>
                    <notification information size="nano" density="compact" no-icon>
                        <p>Няма да пускаме съобщения от ваше име.</p>
                    </notification>
                    <social-button facebook action="{% url 'security:begin' 'facebook' %}"></social-button>
                    {# <social-button google action="{% url 'security:begin' 'google' %}"></social-button> #}
                </social-auth>
            </auth>
            <footer for="login">
                <!--<a auth-trigger type="registration">Направи си регистрация</a>-->
                <notification information inline no-icon color="gray" size="nano" density="cozy" align="left">Easy one click sign in. We won't post anything without your permission.</notification>
                <action-button auth-trigger type="registration" link  type="secondary" fill="solid" align="right" size="large" color="purple">регистрация</action-button>
            </footer>
        </modal-screen>
    </modal>
</div>
{% endif %}
