@import '../styleguide';

radio-button {
  background: $greyColor60;
}

radio-button > input[type=radio]:not(old) {
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  transform:  scale(0.1);
  + .check {
    background: linear-gradient(to bottom, $white 0%, $greyColor60 100%);
    @extend %circle;
    display: inline-block;
    position: relative;
    width: 16px;
    vertical-align: middle;
    height: 16px;
    line-height: 16px;
    border: 1px solid $greyColor80;
    &:after {
      @extend %circle;
      content: "";
      display: block;
      height: 6px;
      width: 6px;
      position: absolute;
      top: 50%;
      background: transparent;
      margin-top: -3px;
      left: 50%;
      margin-left: -3px;
    }
  }
  &:checked + .check:after {
    background: $secondaryColor;
  }
  &:hover + .check,
  &:focus + .check {
    border-color: $greyColor;
  }
  &:active + .check {
    border-color: $secondaryColor60;
  }
  &:target + .check {
    background: red;
  }
}